// this file is used for animations
@import "css/global/colors";

// login/register rising bubbles animation
@keyframes auth-rising-bubbles {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@keyframes routes-arrow-color-change {
    0% {
        border-top-color: $purple;
    }

    100% {
        border-top-color: $pink;
    }
}