// this file is used for color variables

// text
$text-default: rgb(45, 45, 45);

// general colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$red: rgb(179, 17, 11);
$green: rgb(19, 151, 52);

// theme colors
$purple: rgb(85, 85, 150);
$purple-dark: rgb(62, 62, 136);

// authentication page bubbles
$purple-light: rgb(207, 179, 217);
$pink: rgb(236, 192, 204);

// homepage colors
$burple: rgb(116, 116, 177);
$burple-opacity: rgba(116, 116, 177, 0.5);

// background gradient colors
$lavander-light-bright: rgb(221, 214, 243);
$red-light-bright:rgb(250, 172, 168);

$lavander-light: rgb(221, 214, 243, 0.1);
$red-light:rgb(250, 172, 168, 0.1);
