// this file is used for globally applied styles
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "./typography";
@import "./shared";
@import "./colors";


// global styles
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-family;
	color: $text-default;
}

a,
button {
	cursor: pointer;

	&:focus {
		outline-offset: 4px;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

label,
input[type="checkbox"] {
	cursor: pointer;
}
