// this file is used for styles that 
// are shared between multiple components
@import "css/global/colors";


// button
.styled-button {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	margin: 20px auto 0;
	border: 1px solid $purple;
	padding: 8px 12px;
	font-weight: bold;
	background-color: $purple;
	color: $white;
	transition: all 0.2s;
}

.styled-button:hover {
	background-color: $white;
	color: $black;
}

.styled-button:active {
	background-color: rgba($purple, 0.1);
}

// for screen reader
.sr-only:not(:focus):not(:active),
.sr-only:focus {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	top: auto;
	white-space: nowrap;
	width: 1px;
}

// others
.hidden {
	display: none;
}

.relative {
	position: relative;
}
