// this file is used for various variables

// page break points
$page-width-limit: 1600px;
$big-page-width-limit: 1920px;

// if there is need for aditional break points, add new ones
// instead of changing these in order to not break other pages
$break-laptop: 1366px;
$break-tablet-big: 1024px;
$break-tablet-medium: 960px;
$break-tablet-small: 768px;
$break-phone-big: 520px;
$break-phone-medium: 425px;
$break-phone-small: 375px;
$break-phone-very-small: 320px;

// for responsive navigation
$break-navigation-tight: 1500px;
$break-navigation-mobile: $break-laptop;
$break-navigation-small: 600px;
