<template>
<layout
    pageTitle="Rolės">

    <div class="admin-container">
        <h1>Rolės</h1>
    <button class="add-button" @click="openModal()">Pridėti</button>
    <table class="admin-table">
        <thead>
        <tr>
            <td>Rolės pavadinimas</td>
            <td colspan="2">Veiksmai</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="role in roles" :key="role.id">
            <td>{{role.name}}</td>
            <td class="edit-col"><button v-if="role.name !== 'Super Admin' && role.name !== 'Admin' && role.name !== 'User'" @click="edit(role)">Redaguoti</button></td>
            <td class="delete-col"><button  v-if="role.name !== 'Super Admin' && role.name !== 'Admin' && role.name !== 'User'" @click="deleteRow(role)">Ištrinti</button></td>
        </tr>
        </tbody>
    </table>
    </div>

    <div class="fixed z-10 inset-0 overflow-y-auto ease-out duration-400" v-if="isOpen">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 transition-opacity">
                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
            </div>
            <!-- This element is to trick the browser into centering the modal contents. -->
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>
            <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                <form>
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="">
                            <div class="mb-4">
                                <label for="FormTitle" class="block text-gray-700 text-sm font-bold mb-2">Rolės pavadinimas:</label>
                                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="FormTitle" placeholder="Įveskite pavadinimą" v-model="form.name">
                                <div v-if="errors.name" class="text-red-500">{{ errors.name}}</div>
                            </div>
                            <div class="mb-4">
                                <p class="block text-gray-700 text-sm font-bold mb-2">Leidimai:</p>
                                <div class="rolesSelectContainer">
                                   <div v-for="permission in permissions" :key="permission.id" class="roleSelect">
                                       <input v-model="form.perms" type="checkbox" :id=permission.name :value="permission.id">
                                       <label :for=permission.name>{{permission.name}}</label>
                                   </div>
                                </div>
                                <div v-if="errors.perms" class="text-red-500">{{ errors.perms}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                              <button wire:click.prevent="store()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="!editMode" @click="save(form)">
                                Išsaugoti
                              </button>
                            </span>
                        <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                              <button wire:click.prevent="store()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="editMode" @click="update(form)">
                                Atnaujinti
                              </button>
                            </span>
                        <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">

                              <button @click="closeModal()" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                                Atšaukti
                              </button>
                            </span>
                    </div>
                </form>

            </div>
        </div>
    </div>

</layout>
</template>

<script>
import Layout from "layouts/Layout";
import "css/components/admin.scss";
import {Link} from "@inertiajs/inertia-vue3";

export default {

    name: "Roles",
    components: {
        Layout,
        Link
    },
    props:[
        'roles',
        'permissions',
        'errors'
    ],
    setup(){

    },
    data() {
        return {
            editMode: false,
            isOpen: false,
            form: {
                name: null,
                perms: []
            },
        }
    },
    methods:{
        openModal: function(data){
            this.isOpen = true;
        },
        closeModal: function(){
            this.isOpen = false;
            this.reset();
            this.editMode = false;
        },
        reset: function(){
            this.form = {
                name: null,
                perms: []
            }
        },
        save: function(data){
            this.$inertia.post('/roles', data);
            this.isOpen = false;
            this.reset();
            this.editMode = false;
        },
        edit: function (data) {
            this.form = Object.assign({}, data);
            this.form.perms = Object.keys(data.permissions);
            this.editMode = true;
            this.openModal();
        },

        update: function (data) {
            data._method = 'PUT';
            this.$inertia.post('/roles/' + data.id, data)
            this.reset();
            this.closeModal();
        },

        deleteRow: function (data) {
            if (!confirm('Ar tikrai norite pašalinti?')) return;
            data._method = 'DELETE';
            this.$inertia.post('/roles/' + data.id, data)
            this.reset();
            this.closeModal();
        }



    }
};
</script>

