<template>
    <Layout
        pageTitle="Naudotojo nustatymai"
        mainClass="user-container">
        <h1 class="user-page-title">Naudotojo nustatymai</h1>


    </Layout>
</template>

<script>
import Layout from "layouts/Layout";
import "css/components/user_settings.scss";
import {Link} from "@inertiajs/inertia-vue3";
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';

export default {
    name: "Activities",
    components: {
        Layout,
        Link,
    },
    props: [],

}
</script>
