<template>
    <Layout pageTitle="Mano veiklos">
         <p class="paz-sen-tekstas1">Šiame skyrelyje galite peržiūrėti savo sukurtus renginius, redaguoti jų informaciją ir esant reikalui pašalinti renginį.</p>
       
    </Layout>
</template>

<script>
import Layout from "layouts/Layout";
import "css/components/veiklu.scss";

export default {
    name: "Home",
    components: {
        Layout
    }
};
</script>
