<template>
    <Layout pageTitle="Veiklų pridėjimas">
        <p class="paz-sen-tekstas1">Šiame skyrelyje galite kurti savo naujas veiklas. Būtinai sukurkite pavadinimą, kuris sudomintų vartotojus. Priskirkite renginiui kategoriją, datą bei seniūniją, kurioje renginys vyks.</p>
        <div class="ivedimo-fonas">
        <p>Renginio pavadinimas:</p>
        <input v-model="pavadinimas" placeholder="pavadinimas" />
        <br>
        <p><br>Seniūnijos, kurioje vyksta renginys, pavadinimas:</p>
        <div class='custom-select'>
        <select>
            <option 
            v-for='(d, index) in districts'
            :key='d'
            :value='index'>
            {{ d }}
            
            </option>
        </select>
        </div>
        <br>
        <p><br>Renginio data:</p>
        <div class='date-picker'>
        <div class='custom-select'>
        <select>
            <option
            v-for='(month, index) in months'
            :key='month'
            :value='index'>
            {{ month }}
            </option>
        </select>
        </div>
        <div class='custom-select'>
        <select>
            <option
            v-for='x in daysAll'
            :key='x'
            :value='days + (x - 1)'>
            {{ days + (x - 1) }}
            </option>
        </select>
        </div>
        <div class='custom-select'>
        <select>
            <option
            v-for='i in numberofYears'
            :key='i'
            :value='startingYear + (i - 1)'>
            {{ startingYear + (i - 1) }}
            </option>
        </select>
        </div>
        <br>
        </div>
        <br>
        <p>Renginio laikas:</p>
        <div class='date-picker'>
        <div class='custom-select'>
        <select>
            <option
            v-for='x in hours'
            :key='x'
            :value='0 + (x - 1)'>
            {{ 0 + (x - 1) }}
            </option>
        </select>
        </div>
        <div class='custom-select'>
        <select>
            <option
            v-for='x in minutes'
            :key='x'
            :value='0 + (x - 1)'>
            {{ 0 + (x - 1) }}
            </option>
        </select>
        </div>
        <br><br>
        </div>

        <div>Kategorija: {{picked}} </div>
        <input type="radio" id="one" value="Koncertas" v-model="picked" />
        <label for="one">Koncertas </label>

        <input type="radio" id="two" value="Minėjimas" v-model="picked" />
        <label for="two">Minėjimas </label>
        
        <input type="radio" id="three" value="Mugė" v-model="picked" />
        <label for="three">Mugė </label>

        <input type="radio" id="four" value="Dirbtuvės" v-model="picked" />
        <label for="four">Dirbtuvės </label>
        
        <input type="radio" id="five" value="Talka" v-model="picked" />
        <label for="five">Talka </label>

        <input type="radio" id="six" value="Atlaidai" v-model="picked" />
        <label for="six">Atlaidai </label>

        <input type="radio" id="seven" value="Kita" v-model="picked" />
        <label for="seven">Kita </label>
        </div>
        <div class="kazkas">
        <button class="button">Pateikti</button>
        </div>
    </Layout>
</template>

<script>
import Layout from "layouts/Layout";
import "css/components/veiklu.scss";
/*import { ref, onMounted } from "vue";
import moment from "moment";*/

export default {
    name: "Home",
    components: {
        Layout
    },
    picked: 'Kita',
    
    setup(props, context) {
   /* const dateValue = moment();
    const daysInMonth = ref(dateValue.daysInMonth());*/
    const months = [
      "Sausis",
      "Vasaris",
      "Kovas",
      "Balandis",
      "Gegužė",
      "Birželis",
      "Liepa",
      "Rugpjūtis",
      "Rugsėjis",
      "Spalis",
      "Lapkritis",
      "Gruodis",
    ];
    const districts=["-Pasirinkite-","Adutiškio","Agluonėnų","Akademijos","Akmenės","Antakalnio","Aukštadvario","Avižienių","Birštono","Daugų","Dieviškių","Domeikavos","Dusetų","Endriejavo","Gaižaičių","Gričiupio","Imbrado","Jašiūnų","Kačerginės","Kapčiamiesčio","Kernavės","Kybartų","Krekenavos","Liudvinavo","Luokės","Marcinkonių","Marijampolės","Merkinės","Meškuičių","Mindūnų","Mosėdžio","Nemenčinės","Neringos","Pagėgių","Pakalniškių","Pivašiūnų","Platelių","Punios","Rozalimo","Ruklos","Rumšiškių","Sasnavos","Senamiesčio","Stakliškių","Šakių","Šiluvos","Šunskų","Šveicarijos","Užliečių","Ventos","Vilkyškių","Židikų",];
    const startingYear = 2022;
    const numberofYears = 10;
    const daysAll = 31;
    const days=1;
    const hours = 24;
    const minutes = 60;



    return {
      months,
      days,
      daysAll,
      numberofYears,
      startingYear,
      days,
      hours,
      minutes,
      districts,
    /*  daysInMonth,*/
    };
    },
};
</script>
