<template>
    <Layout 
    pageTitle="Veiklos">
    <div class="container1">
        <p class="paz-sen-tekstas1">Šiame skyrelyje galite peržiūrėti Lietuvos seniūnijose vyksiančias veiklas. Visos veiklos yra priskiriamos kategorijoms, kurios yra: koncertų, minėjimų, mugių, dirbtuvių, talkos, atlaidų bei kitos. Skirtingos veiklos išskiriamos skirtingomis piktogramomis.</p>
        <Link
         :href="route('activities-add')"
        class="paz-sen-arrow1 paz-sen-one1">
            <div>Pridėti veiklą</div>
        </Link>

        <Link
         :href="route('activities-my')"
        class="paz-sen-arrow1 paz-sen-two1">
            <div>Mano veiklos</div>
        </Link>
        
        <div class="svg-file-and-text">
        <div class="svg-files"><img src="images/koncertas.svg"></div>
         <div class="svg-block">
            Vykstantys koncertai
        </div>
        <div class="svg-tekstas">
            Domeikavoje šiuo metu nevyksta koncertų. <br>
            Rokuose vyksta Pink Floyd koncertas.
        </div>
       

        </div>

        <div class="svg-file-and-text">
        <div class="svg-files"><img src="images/muge.svg"></div>
        <div class="svg-block">
            Vykstančios mugės
        </div>
        </div>
        
        <div class="svg-file-and-text">
        <div class="svg-files"><img src="images/talka.svg"></div>
        <div class="svg-block">
            Vykstančios talkos
        </div>
        </div>

        <div class="svg-file-and-text">
        <div class="svg-files"><img src="images/dirbtuves.svg"></div>
        <div class="svg-block">
            Vykstančios dirbtuvės
        </div>
        </div>
        
        <div class="svg-file-and-text">
        <div class="svg-files"><img src="images/minejimas.svg"></div>
        <div class="svg-block">
            Vykstantys minėjimai
        </div>

        </div>
        <div class="svg-file-and-text">
        <div class="svg-files"><img src="images/atlaidai.svg"></div>
        <div class="svg-block">
            Vykstantys atlaidai
        </div>
        </div>
        
        <div class="svg-file-and-text">
        <div class="svg-files"><img src="images/kita.svg"></div>
        <div class="svg-block">
           Kitos veiklos
        </div>
        </div>
      </div>
    </Layout>
</template>

<script>
import Layout from "layouts/Layout";
import "css/components/veiklu.scss";
import {Link} from "@inertiajs/inertia-vue3";

export default {
    name: "Activities",
    components: {
        Layout,
        Link
    }
};
</script>
