<template>
    <Layout pageTitle="Ženkliukai">
        <div class="problems">
            <div v-if="$page.props.auth.user !== null">
                <div v-if="$page.props.badgesu.length !== 0">
                <h1 class="problems__page-title">Surinkti ženkliukai</h1>
                    <div class="badge-container">
                <div
                v-for="badge in $page.props.badgesu"
                :key="badge.id"
                >
                    <div v-if="badge.userId === $page.props.auth.user.id">
                        <div class="badge_block">
                            <img class="problem__item-picture" v-bind:src="'/images/zenkliukai/'+badge.badge_type+'.png'"/>
                            <p class="problems__item-text">{{ badge.badge_type }}</p>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                <div v-if="$page.props.badgesu.length === 0">
                    <h1 class="problems__page-title">Jūs neturite surinktų ženkliukų</h1>
                    <div class="problems__item">
                            <p class="problems__item-text">Jūs dar neturite ženkliukų, tad nieko nelaukite ir išbandykite daugiau svetainės veiklų!</p>
                        </div>
                </div>
            </div>
            <div v-if="$page.props.auth.user === null">
                <h1 class="problems__page-title">Deja, bet ženkliukus gali rinkti tik prisijungę naudotojai.</h1>
                <div class="problems__item">
                    <br>
                    <div class="problems__item-div_align">
                        <Link class="problems__item-redirect_text" :href="route('register')">Užsiregistruoti ar prisijungti galite paspaudus čia</Link>
                    </div>

                </div>

            </div>
        </div>

    </Layout>
</template>

<script>
import Layout from "layouts/Layout";
import "css/components/problems.scss";
import "css/components/badges.scss";
import {Link} from "@inertiajs/inertia-vue3";
export default {
    name: "Badges",
    components: {
        Layout,
        Link
    },
    props:['data','errors','badgesu','user'],


};
</script>
