<template>
    <Layout pageTitle="Žaidimai">
        <h1 class="games__title">Pažinkite seniūnijas su interaktyviais žaidimais! </h1>
        <div class="games__list">
            <div class="games__game-container">
                <h2 class="games__game-title">Viktorina</h2>
                <p class="games__game-text">Pagal pateiktą vietos aprašymą su nuotrauka, bandykite atspėti kokioje seniūnijoje yra minima vieta.</p>
                <Link
                    :href="route('viktorina')"
                    class="styled-button"
                >
                    Žaisti
                </Link>
            </div>
            <div class="games__game-container">
                <h2 class="games__game-title">Objekto vietos spėjimas</h2>
                <p class="games__game-text">Pagal lankytino objekto aprašymą bandykite kuo arčiau parinkti tašką žemėlapyje, kur manote, kad yra aprašomas objektas.</p>
                <Link
                    :href="route('vietosspejimas')"
                    class="styled-button"
                >
                    Žaisti
                </Link>
            </div>
        </div>
    </Layout>
</template>

<script>
import Layout from "layouts/Layout";
import { Link } from "@inertiajs/inertia-vue3";
import "css/components/games-page.scss";

export default {
    name: "Games",
    components: {
        Layout,
        Link
    }
};
</script>
