<template>
    <Layout
        pageTitle="Pažink seniūnijas"
        mainClass="home-container main-content--no-width-limit"
    >
        <div class="home-map-container">
            <Link :href="route('event.index')"><p>Veiklos</p></Link>
            <Link :href="route('games')"><p>Žaidimai</p></Link>
            <Link :href="route('map')"><p>Žemėlapis</p></Link>
            <Link :href="route('routes')"><p>Maršrutai</p></Link>
            <Link :href="route('seniunijos')"><p>Seniūnijos iš arčiau</p></Link>
        </div>

    </Layout>
</template>

<script>
import Layout from "layouts/Layout";
import "css/components/home.scss";
import {Link} from "@inertiajs/inertia-vue3";

export default {
    name: "Home",
    components: {
        Layout,
        Link
    }
};
</script>
