<template>
    <Layout
        pageTitle="Žemėlapis"
        mainClass="map-container main-content--no-width-limit relative"
    >
        <div id="map" class="map"></div>
        <div
            class="map__filters-container"
            :class="{ 'map__filters-container--small': !areFiltersVisible }"
        >
            <div
                class="map__filters-header"
                :class="{ 'map__filters-header--small': !areFiltersVisible }"
            >
                <h2 class="map__filters-header-text">Objektų filtravimas</h2>
                <button
                    class="map__filters-close"
                    @click="toggleFiltersBox"
                >
                    {{ areFiltersVisible ? '&#10006;' : '&#9660;' }}
                </button>
            </div>
            <ul class="map__filters-list" v-if="areFiltersVisible">
                <li
                    v-for="(filter, id) in filters.types"
                    :key="filter.name"
                    class="map__filter-item"
                >
                    <input
                        type="checkbox"
                        :id="filter.name+'-'+id"
                        class="map__filter-checkbox"
                        :checked="filter.visible"
                        @change="handleFilterToggle(id)"
                    />
                    <label :for="filter.name+'-'+id" class="map__filter-label">
                        {{ filter.nameNice }}
                    </label>
                </li>
            </ul>
        </div>
    <button class="button-problem" @click="openModal()"><img src="/images/problema.svg"></button>

    <div class="fixed z-10 inset-0 overflow-y-auto ease-out duration-400" v-if="isOpen">
                      <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                          <div class="fixed inset-0 transition-opacity">
                          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                        </div>
                        <!-- This element is to trick the browser into centering the modal contents. -->
                        <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>​
                        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                          <form>
                          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                            <div class="">

                                  <div class="mb-4">
                                      <label for="FormProblemTitle" class="block text-gray-700 text-sm font-bold mb-2">Problemos pavadinimas:</label>
                                      <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="FormProblemTitle" placeholder="Įveskite pavadinimą" v-model="form.title">
                                      <div v-if="errors.title" class="text-red-500">{{ errors.title}}</div>
                                  </div>
                                 <div class="mb-4">
                                      <label for="FormProblemDescription" class="block text-gray-700 text-sm font-bold mb-2">Problemos aprašymas:</label>
                                      <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="FormProblemDescription" placeholder="Įveskite aprašymą" v-model="form.description">
                                      <div v-if="errors.description" class="text-red-500">{{ errors.description}}</div>
                                  </div>

                                <div class="mb-4">
                                <label for="FormCategories" class="block text-gray-700 text-sm font-bold mb-2">Problemos tipas:</label>
                                <div class='custom-select'>
                                <select id=FormCategories v-model="form.problem_type">
                                    <option value="-1" disabled hidden>Pasirinkite problemos tipą</option>
                                    <option value="neasfaltuotas kelias">neasfaltuotas kelias</option>
                                    <option value="nenuvalytas kelias">nenuvalytas kelias</option>
                                    <option value="neišvežtos šiukšlės">neišvežtos šiukšlės</option>
                                    <option value="nenupjauta žolė">nenupjauta žolė</option>
                                    <option value="duobės kelyje">duobės kelyje</option>
                                    <option value="kita">kita</option>

                                </select>

                                </div>
                                <div v-if="errors.problem_type" class="text-red-500">{{ errors.problem_type}}</div>
                                </div>

                                <div class="mb-4">
                                      <label for="FormPicture" class="block text-gray-700 text-sm font-bold mb-2">Nuotrauka:</label>
                                      <input type="file" name="picture" class="form-control-file" id="picture" @input="form.picture = $event.target.files[0]">
                                      <progress v-if="form.progress" :value="form.progress.percentage" max="100">
                                          {{form.progress.percentage}}</progress>
                                        <div v-if="errors.picture" class="text-red-500">{{ errors.picture}}</div>
                                </div>



                            </div>
                            <br>
                            <p style="font-style: italic; font-size: 13px;">Registruojant problemą būtina žinoti Jūsų dabartinę buvimo vietą. Paspaudus mygtuką išsaugoti, Jūs sutinkate su savo buvimo vietos pateikimu.</p>

                          </div>
                          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                              <button wire:click.prevent="createProblemEntry()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="!editMode" @click="save(form)">
                                Išsaugoti
                              </button>
                            </span>
                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                              <button wire:click.prevent="createProblemEntry()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="editMode" @click="update(form)">
                                Atnaujinti
                              </button>
                            </span>
                            <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">

                              <button @click="closeModal()" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                                Atšaukti
                              </button>
                            </span>
                          </div>
                          </form>

                        </div>
                      </div>
                    </div>

    </Layout>
</template>

<script>
import { ref, reactive, onMounted, watch, onUnmounted } from "vue";
import Layout from "layouts/Layout";
import "css/components/map.scss";
import "css/components/problema.scss";
import "css/components/map_problems.scss";
import debounce from "utils/debounce.js";
import { Loader } from "@googlemaps/js-api-loader";
import { MarkerClusterer, SuperClusterAlgorithm } from "@googlemaps/markerclusterer";

export default {
    name: "Map",
    components: {
        Layout
    },
    props: ['data', 'errors', 'places', 'userProblems', 'events'],
    mounted(){
        this.trackPosition();
    },
    setup(props) {
        const api_key = ref(process.env.MIX_API_KEY);
        const areFiltersVisible = ref(true);
        const places = props.places;
        //console.log(props.userProblems);

        // file names for icons of each type
        const icons = {
            amusement_park: "1-ATRAKCIJOS1.svg",
            tourist_attraction: "11-KITA2.svg",
            aquarium: "2-GYVUNAI2.svg",
            zoo: "2-GYVUNAI2.svg",
            art_gallery: "3-MUZIEJUS.svg",
            museum: "3-MUZIEJUS.svg",
            city_hall: "4-TOWN_HALL.svg",
            church: "5-RELIGIJA.svg",
            mosque: "5-RELIGIJA.svg",
            synagogue: "5-RELIGIJA.svg",
            park: "6-GAMTA.svg",
        };

        // text to render for each type in object filtering
        const typeNames = {
            amusement_park: "Pramogų parkai",
            tourist_attraction: "Įdomios vietos",
            aquarium: "Akvariumai",
            zoo: "Zoologijos sodai",
            art_gallery: "Meno galerijos",
            museum: "Muziejai",
            city_hall: "Miestų rotušės",
            church: "Bažnyčios",
            mosque: "Mečetės",
            synagogue: "Sinagogos",
            park: "Parkai",
            problem: "Problemos",
            event: "Renginiai"
        };

        // create types array with all information about types
        // that will be held in filters object
        const types = [];
        for (let type in places) {
            types.push({
                name: type,
                nameNice: typeNames[type],
                visible: true
            });
        }
        types.push({
            name: "problem",
            nameNice: typeNames["problem"],
            visible: true
        })
        types.push({
            name: "event",
            nameNice: typeNames["event"],
            visible: true
        })

        const filters = reactive({types})

        const handleFilterToggle = (id) => {
            filters.types[id].visible = !filters.types[id].visible;
        };

        const toggleFiltersBox = () => {
            areFiltersVisible.value = !areFiltersVisible.value;
        };

        const setFiltersVisiblity = () => {
            if (window.innerWidth <= 768) {
                areFiltersVisible.value = false;
            }
        };

        onMounted(() => {
            setFiltersVisiblity();
            window.addEventListener("resize", debounce(setFiltersVisiblity, 50));

            // set google maps loader options
            const loader = new Loader({
                apiKey: api_key.value,
                version: "weekly"
            });

            const mapOptions = {
                center: {
                    lat: 55.17261260581101,
                    lng: 23.93368917912474
                },
                zoom: 8,
                disableDefaultUI: true,
                mapId: "fe5f97cd6e54584a",
            };

            // load google maps
            loader
            .load()
            .then((google) => {
                // load the map
                const map = new google.maps.Map(document.getElementById("map"), mapOptions);

                // create InfoWindow object to be used to show information
                // window for when a marker is clicked
                const infoWindow = new google.maps.InfoWindow({
                    content: "",
                    disableAutoPan: true
                });

                // create all markers
                const allMarkers = [];
                for (let type in places) {
                    places[type].forEach((place, i) => {
                        // create new marker
                        const marker = new google.maps.Marker(
                            {
                                position: place.geometry.location,
                                id: `${place.geometry.location.lat}-${place.geometry.location.lng}-${i}`,
                                icon: {
                                    url: `images/zemelapis/${icons[type]}`,
                                    scaledSize: new google.maps.Size(41, 58)
                                },
                                optimized: true,
                                markerType: type
                            }
                        );

                        // open info window when marker is clicked
                        //googleMapsEvent.clearListeners(marker, "click");
                        marker.addListener("click", () => {
                            let contentText = ""
                            if (place.icon) {
                                contentText += `<img class="map__place-info-image" src="${place.icon}" alt="${place.name} icon" />`;
                            }
                            if (place.name) {
                                contentText += `<p class="map__place-info-title">${place.name}</p>`;
                            }
                            if (place.rating) {
                                contentText += `<p class="map__place-info-text"><b>Įvertinimas:</b> ${place.rating}/5</p>`;
                            }
                            if (place.user_ratings_total) {
                                contentText += `<p class="map__place-info-text"><b>Įvertinimų kiekis:</b> ${place.user_ratings_total}</p>`;
                            }
                            if (place.vicinity) {
                                contentText += `<p class="map__place-info-text"><b>Adresas:</b> ${place.vicinity}</p>`;
                            }

                            infoWindow.setContent(contentText);
                            infoWindow.open(map, marker);
                        });

                        // add marker to all markers array
                        allMarkers.push(marker);
                    });
                }


                for(let obj in props.userProblems){
                    let problem = props.userProblems[obj];
                    if (problem.latitude && problem.longitude) {
                        const marker = new google.maps.Marker({
                            position: {
                                lat: problem.latitude,
                                lng: problem.longitude
                            },
                            id: `${problem.latitude}-${problem.longitude}-${problem.id}`,
                            icon: {
                                url: `images/zemelapis/problemos.svg`,
                                scaledSize: new google.maps.Size(41, 58)
                            },
                            optimized: true,
                            markerType: `problem`
                        });

                        marker.addListener("click", () => {
                            let contentText = "";
                            if (problem.picture && problem.picture_path)
                                contentText += `<img class="map__place-info-image " src="/uploads/${problem.picture}" />`
                            contentText += `<p class="map__place-info-title">${problem.title}</p>`;
                            contentText += `<p class="map__place-info-text"><b>Problema:</b> ${problem.problem_type}</p>`;
                            contentText += `<p class="map__place-info-text"><b>Aprašymas:</b> ${problem.description}</p>`;

                            infoWindow.setContent(contentText);
                            infoWindow.open(map, marker);
                        });
                        // console.log(marker);
                        allMarkers.push(marker);
                    }
                }

                for (let obj in props.events) {
                    let event = props.events[obj]
                    console.log(`${event.latitude} ${event.longitude}`)
                    if (event.latitude != null) {
                        const marker = new google.maps.Marker({
                            position: {
                                lat: event.latitude,
                                lng: event.longitude
                            },
                            id: `${event.latitude}-${event.longitude}-${event.id}`,
                            icon: {
                                url: `images/zemelapis/11-KITA1.svg`,
                                scaledSize: new google.maps.Size(41, 58)
                            },
                            optimized: true,
                            markerType: 'event'
                        })

                        marker.addListener("click", () => {
                            let contentText = "";
                            contentText += `<p class="map__place-info-title">${event.title}</p>`
                            contentText += `<p>${event.event_date}</p>`
                            contentText += `<p class="map__place-info-text">${event.description}</p>`
                            contentText += `<a href="/event/${event.id}" target="_blank">Peržiūrėti</a>`

                            infoWindow.setContent(contentText)
                            infoWindow.open(map, marker)
                        })
                        allMarkers.push(marker)
                    }
                }

                /*
                    Default SuperClusterAlgorithm values (value-default-description):
                        minZoom	    0	    Minimum zoom level at which clusters are generated.
                        maxZoom	    16	    Maximum zoom level at which clusters are generated.
                        minPoints	2	    Minimum number of points to form a cluster.
                        radius	    40	    Cluster radius, in pixels.
                        extent	    512	    (Tiles) Tile extent. Radius is calculated relative to this value.
                        nodeSize	64	    Size of the KD-tree leaf node. Affects performance.
                        log	        false	Whether timing info should be logged.
                        generateId	false	Whether to generate ids for input features in vector tiles.
                */
                const modifiedClusterAlgorithm = new SuperClusterAlgorithm({
                    radius: 200,
                    maxZoom: 17,
                    minPoints: 3
                });

                // Initialise MarkerClusterer
                const markerCluster = new MarkerClusterer({
                    markers: allMarkers,
                    map,
                    algorithm: modifiedClusterAlgorithm
                });

                // create marker visiblity array, indexed by marker id
                // (accessed directly through index instead of search)
                // for efficient marker visibility updates
                let markerVisibilitySetting = [];
                allMarkers.forEach((marker) => {
                    markerVisibilitySetting[marker.id] = true;
                });

                const rerenderClusters = () => {
                    const markersToDelete = [];
                    const markersToShow = [];

                    allMarkers.forEach((marker) => {
                        const isVisible = markerVisibilitySetting[marker.id];
                        const filterType = filters.types.find((filterObj) => filterObj.name === marker.markerType);
                        const isInView = map.getBounds().contains(marker.getPosition());

                        if (filterType.visible && isInView && !isVisible) {
                            // if marker is in view AND if it's not curently visible
                            // and the marker type is set to visible
                            // then add it to markers that will be made visible
                            markersToShow.push(marker);
                            markerVisibilitySetting[marker.id] = true;

                        } else if ((!isInView && isVisible) || (!filterType.visible && isVisible)) {
                            // if marker is not in view AND if it was previously visible
                            // or if marker type is set to invisible and it was previously visible
                            // then add it to markers that will be hidden
                            markersToDelete.push(marker);
                            markerVisibilitySetting[marker.id] = false;
                        }
                    });

                    // the second argument of removeMarkers() and addMarkers() is "nodraw",
                    // which prevents the cluster from redrawing if set to true

                    // delete old markers from the cluster
                    if (markersToDelete.length) {
                        markerCluster.removeMarkers(markersToDelete, true);
                    }

                    // add new markers to the cluster
                    if (markersToShow.length) {
                        markerCluster.addMarkers(markersToShow, true);
                    }

                    // re-render clusters only if markers were deleted or added
                    if (markersToDelete.length || markersToShow.length) {
                        markerCluster.render();
                    }
                };

                map.addListener("click", () => infoWindow.close());
                map.addListener("bounds_changed", debounce(rerenderClusters, 125));

                watch(filters.types, () => {
                    rerenderClusters();
                });
            })
            .catch((err) => {
                console.log(err);
            })
        });

        onUnmounted(() => {
            window.removeEventListener("resize", debounce(setFiltersVisiblity, 50));
        });

        return {
            filters,
            handleFilterToggle,
            toggleFiltersBox,
            areFiltersVisible
        };
    },
      data() {
            return {
                editMode: false,
                isOpen: false,
                form: {
                    title: null,
                    description: null,
                    picture: null,
                    problem_type: -1,
                    latitude: null,
                    longitude: null,
                    lat:null,
                    lon:null,

                    /*body: null,*/
                },
                selected_type: "kita",
                positions: {lat:0, lon:0},
               // problems: {statusas:'', pavadinimas:'', aprasymas:'', tipas:'', photo:'', ilg:0, pla:0},
            }
   },
    methods:{
        openModal: function(){
            this.isOpen = true;
        },
        closeModal: function(){
            this.isOpen = false;
            this.reset();
            this.editMode = false;
        },
        reset: function(){
            this.form = {
                title: null,
                description: null,
                problem_type: -1,
                picture: null,
                longitude: null,
                latitude: null,
            }
        },

        save: function(data){
            if(data.problem_type === -1)
                data.problem_type = null;
            data.latitude = this.positions.lat;
            data.longitude = this.positions.lon;
            this.$inertia.post('/submit-problem/', data,{
                onSuccess: () => {
                    this.closeModal();
                },
               forceFormData: true,
            });
            if(data.problem_type === null)
                data.problem_type = -1;

        },
        trackPosition(){
            if(navigator.geolocation){
                navigator.geolocation.watchPosition(this.successPosition, this.failurePosition, {
                    enableHighAccuracy:true,
                    timeout:15000,
                    maximumAge:0,
                })
            }
        },
        successPosition: function(position){


            this.positions = {
                lat: position.coords.latitude,
                lon: position.coords.longitude,
            };
        },
       /* getProblem(){
           axios.get('/problems')
            .then((response) =>{
                this.problems.statusas = response;
                console.log(this.problems.statusas);
            })
          //  axios.get('/problems',
          //  {
            //    statusas: 'status',
              //  pavadinimas: 'pavadinimas',
          //  },



        },*/

        failurePosition: function(err){
           // alert('klaidos kodas: '+err.code+' klaidos pranšimas '+err.message)
          // alert('Nepavyko nustatyti vietos.')
        },
        onFileChange(e){

            var file = e.target.files[0] || e.dataTransfer.files[0];

            this.form.picture = file;

            /*
            Initialize a File Reader object
            */
            let reader  = new FileReader();

            /*
            Add an event listener to the reader that when the file
            has been loaded, we flag the show preview as true and set the
            image to be what was read from the reader.
            */
            reader.addEventListener("load", function () {
                this.showPreview = true;
                this.imagePreview = reader.result;
            }.bind(this), false);

            /*
            Check to see if the file is not empty.
            */
            if( file ){
                /*
                    Ensure the file is an image file.
                */
                if ( /\.(jpe?g|png|gif)$/i.test( file.name ) ) {
                    /*
                    Fire the readAsDataURL method which will read the file in and
                    upon completion fire a 'load' event which we will listen to and
                    display the image in the preview.
                    */
                    reader.readAsDataURL( file );
                }
            }


        },
    },


};
</script>
