<template>
    <Layout
    pageTitle="Problemų registravimas"
    mainClass="problemu-container">

    <div> Problemu psl</div>
        
    </Layout>



</template>

<script>
import Layout from "layouts/Layout";
//import "css/components/seniunijos.scss";
import {Link} from "@inertiajs/inertia-vue3";

export default {
  name: "Problemos",
  components: {
    Layout,
      Link
  },
};
</script>
