<template>
    <Layout
        pageTitle="Maršrutai"
        mainClass="main-content--no-width-limit main-content--no-padding"
    >
        <div class="marsrutai__arrow"></div>

        <div class="marsrutai" ref="marsrutaiRef">
            <Link
                v-for="(mars, id) in marsrutai.data"
                :key="`marsrutas-${id}`"
                class="marsrutai__section"
                :href="route('routemap', { id: id })"
            >
                <img
                    :src="mars.image"
                    :alt="`Maršruto '${mars.title}' nuotrauka`"
                    class="marsrutai__image"
                    :style="{ height: imageHeight + 'px' }"
                >
                <h2 class="marsrutai__title">
                    <span class="marsrutai__title-text">{{ mars.title }}</span>
                </h2>
            </Link>
        </div>
    </Layout>
</template>

<script>
import { ref, onMounted, onUnmounted } from "vue";
import { Link } from "@inertiajs/inertia-vue3";
import Layout from "layouts/Layout";
import "css/components/marsrutai.scss";
import marsrutai from "data/marsrutai.json";

export default {
    name: "Routes",
    components: {
        Layout,
        Link
    },
    data: function () {
        return {
            marsrutai
        }
    },
    setup() {
        const marsrutaiRef = ref(null);

        // needed to have predefined image height for when
        // the page with text is visible but the images
        // are not yet loaded to prevent content reflow
        let initialImageHeight = 0;
        if (window) {
            initialImageHeight = window.innerWidth * 0.5625;
        }
        const imageHeight = ref(initialImageHeight);

        const setImageHeight = () => {
            // 16:9 aspect ratio for images
            if (marsrutaiRef.value) {
                imageHeight.value = marsrutaiRef.value.offsetWidth * 0.5625;
            }
        };

        onMounted(() => {
            setImageHeight();
            window.addEventListener("resize", setImageHeight);
        });

        onUnmounted(() => {
            window.removeEventListener("resize", setImageHeight);
        });

        return {
            imageHeight,
            marsrutaiRef
        };
    }
};
</script>
