<template>
    <Layout
        pageTitle="Pažintinis maršrutas"
        mainClass="map-container main-content--no-width-limit relative"
    >
        <div id="routemap" class="routemap"></div>
        <h1 v-if="isBadURL" class="bad-url-route">
            Nurodytas maršrutas neegzistuoja
        </h1>
    </Layout>
</template>

<script>
import { ref, onMounted } from "vue";
import Layout from "layouts/Layout";
import "css/components/routemap.scss";

import { Loader } from "@googlemaps/js-api-loader";
import marsrutai from "data/marsrutai.json";

export default {
    name: "RouteMap",
    components: {
        Layout
    },
    setup() {
        const api_key = ref(process.env.MIX_API_KEY);
        const isBadURL = ref(false);

        onMounted(() => {
            let id = window.location.href.split("?id=");
            
            // validate id and URL before rendering
            if (id.length) {
                id = id[id.length - 1];

                if (marsrutai.data[id]) {
                    const data = marsrutai.data[id];

                    // set google maps loader options
                    const loader = new Loader({
                        apiKey: api_key.value,
                        version: "weekly"
                    });

                    const mapOptions = {
                        center: { 
                            lat: data.center.lat,
                            lng: data.center.lng
                        }, 
                        zoom: 12,
                        disableDefaultUI: true
                    };

                    // load google maps
                    loader
                    .load()
                    .then((google) => {
                        // load the map
                        const map = new google.maps.Map(document.getElementById("routemap"), mapOptions);
                        const directionsService = new google.maps.DirectionsService();
                        const directionsRenderer = new google.maps.DirectionsRenderer();

                        // create waypoints of format needed for google maps
                        const waypoints = data.places.map((place) => {
                            return {
                                location: new google.maps.LatLng(place.lat, place.lng)
                            };
                        });

                        // create and render the route
                        directionsRenderer.setMap(map);

                        directionsService.route({
                            origin: waypoints[0].location,
                            destination: waypoints[waypoints.length - 1].location,
                            waypoints: waypoints.slice(1, waypoints.length - 1),
                            travelMode: "DRIVING" // other modes cause issues
                        }).then((response) => {
                            directionsRenderer.setDirections(response);
                        }).catch((err) => {
                            console.error("Directions(routes) request failed.", err);
                        })
                    })
                    .catch((err) => {
                        console.log(err);
                    });
                } else {
                    isBadURL.value = true;
                }
            } else {
                isBadURL.value = true;
            }
        });

        return {
            isBadURL
        };
    }
};
</script>
