<template>
    <Layout
    pageTitle="Seniūnijos"
    mainClass="seniunijos-container">

        <div class="visas">

        <div class="paz-sen-top-container">
            <div class="stulpas-mobile"></div>
            <Link
            :href="route('Domeikava')"
            class="paz-sen-arrow paz-sen-one" id="pointer1">
                <div class="name">Domeikavos seniūnija</div>
            </Link>
            <Link
                :href="route('Samylu')"
                class="paz-sen-arrow paz-sen-two" id="pointer2">
                <div  class="name">Samylų seniūnija</div>
            </Link>
            <Link
                :href="route('Traku')"
                class="paz-sen-arrow paz-sen-three" id="pointer3">
                <div  class="name" style="margin-left: 30px;">Trakų seniūnija</div>
            </Link>
            <p class="paz-sen-tekstas">Šiame skyrelyje galite iš arčiau susipažinti su keliomis seniūnijomis. Siūlome artimiau pažinti Domeikavos, Samylų ir Trakų seniūnijas. Paspaudus ant dominančios seniūnijos pavadinimo galėsite peržiūrėti seniūniją pristatantį filmuką, susipažinti su seniūnijos lankytinomis vietomis, padavimais, istorija bei įdomiais faktais.</p>
            <img src="images/seniunijosall3.png" class="foto" />
        </div>
        <div class="stulpas"></div>

        </div>
    </Layout>



</template>

<script>
import Layout from "layouts/Layout";
import "css/components/seniunijos.scss";
import {Link} from "@inertiajs/inertia-vue3";

export default {
  name: "Seniunijos",
  components: {
    Layout,
      Link
  },
};
</script>
