<template>
  <Layout
    pageTitle="Vietos spėjimas"
    mainClass="map-container main-content--no-width-limit relative"
  >
    <div id="map" class="map1"></div>

    <div v-if="currQuestionID < questions.length" style="margin-left: 20px;
    margin-right: 20px;">
      <div  style="margin-top: 30px;">
        <p class="viktorina__answer-text" style="font-size: 20px; font-weight: 600">
          Surinkti taškai: {{ pointsAll }}
        </p>
        <br>
        <p style="font-size: 18px">Pagal lankytino objekto aprašymą bandykite kuo arčiau parinkti tašką žemėlapyje, kur manote, kad yra aprašomas objektas.</p>
        <br>
        <p style="font-size: 18px; font-style: italic; font-weight: 600;">{{questions[currQuestionID].question}} </p>
        <br>
        <p class="viktorina__answer-text">
          Platuma: {{ lat1 }}
        </p>
        <p class="viktorina__answer-text">
          Ilguma: {{ lng1 }}
        </p>
        <p class="viktorina__answer-text">
          Atstumas: {{ atstumas }} km
        </p>
        <p class="viktorina__answer-text">
          Atsakius teisingai, galite gauti: {{ pointsPerQuestion }}
        </p>
        <br>
        <p v-if="correctanswer" class="viktorina__answer-correct" style="color: green; font-size: 20px;">
          Atsakymas teisingas! Tai buvo <b style="font-weight:700;">{{questions[currQuestionID].answer}}</b>! 
        </p>
        <p v-if="middlecorrectanswer && showPlaceName == false" class="viktorina__answer-correct" style="color: orange; font-size: 20px;">
          Tavo ieškoma vietovė jau labai netoli! 
        </p>
        <p v-if="incorrectanswer && showPlaceName == false" class="viktorina__answer-correct" style="color: red; font-size: 20px;">
          Esi per toli! Bandyk dar kartą!
        </p>
        <p v-if="pointsPerQuestion < 1 && showPlaceName == true" class="viktorina__answer-correct" style="color: red; font-size: 20px;">
          Išnaudojai visas galimybes spėti... Pereik prie kito klausimo. Teisingas atsakymas buvo - <b style="font-weight:700;">{{questions[currQuestionID].answer}}</b>
        </p>
      </div>

      <p v-if="successTextBadge" class="viktorina__success-text">
                  {{ successTextBadge }}
      </p>

      <form @submit.prevent="submitAnswer" class="viktorina__submit-form">
        <div class="viktorina__form-row">
          <button v-if="showPlaceName == false" type="submit" class="styled-button viktorina__form-button">
            Pateikti atsakymą
          </button>
        </div>
      </form>
      <form @submit.prevent="nextQuestion($page.props, userGamesPlayed2, pointsAll)" class="viktorina__submit-form">
        <div class="viktorina__form-row">
          <button v-if="(currQuestionID + 1) < questions.length && showPlaceName == true" type="submit" class="styled-button viktorina__form-button">
            Kitas klausimas
          </button>
           <button v-if="(currQuestionID + 1) == questions.length && showPlaceName == true" type="submit" class="styled-button viktorina__form-button">
            Baigti žaidimą
          </button>
        </div>
      </form>
    </div>
    <div v-if="(currQuestionID + 1) > questions.length" style="margin-left: 20px;
    margin-right: 20px; margin-top: 100px">
      <p class="viktorina__answer-text" style="font-size: 20px; font-weight: 600">
          Surinkti taškai: {{ pointsAll }} / 100
        </p>
        <button class="styled-button" @click="reloadPage()">Žaisti dar kartą</button>
        
    </div>
  </Layout>
</template>

<script>
import { ref, reactive, onMounted, watch, onUnmounted } from "vue";
import Layout from "layouts/Layout";
import "css/components/map.scss";
import { Inertia } from "@inertiajs/inertia";
import originalQuestions from "data/game2.json";
import debounce from "utils/debounce.js";
import { Loader } from "@googlemaps/js-api-loader";
import {
  MarkerClusterer,
  SuperClusterAlgorithm,
} from "@googlemaps/markerclusterer";
import places from "data/places.json";

export default {
  data() {
    return {
      lat3: 0,
      lng3: 0,
      atstumas3: 0,
      
    };
  },
  name: "Map",
  components: {
    Layout,
  },
  props:['data','error','user','userGamesPlayed2'],

  setup() {
    const api_key = ref(process.env.MIX_API_KEY);
    const pointsAll = ref(0);
    const pointsPerQuestion = ref(0);
    const currQuestionID = ref(0);
    const redCount = ref(0);
    const yellowCount = ref(0);
    const greenCount = ref(0);
    const showPlaceName = ref(false)
    currQuestionID.value = 0;
    pointsAll.value = 0;
    const allMarkers = [];
    onMounted(() => {
      pointsPerQuestion.value = 10;
      redCount.value = 0;
      yellowCount.value = 0;
      greenCount.value = 0;
      showPlaceName.value = false;
      // set google maps loader options
      const loader = new Loader({
        apiKey: api_key.value,
        version: "weekly",
      });

      const mapOptions = {
        center: {
          lat: 55.17261260581101,
          lng: 23.93368917912474,
        },
        zoom: 8,
        disableDefaultUI: true,
        mapId: "fe5f97cd6e54584a",
      };
      //currQuestionID.value = 0;

      // load google maps
      loader
        .load()
        .then((google) => {
          // load the map
          const map = new google.maps.Map(
            document.getElementById("map"),
            mapOptions
          );

          // create all markers

          const marker = new google.maps.Marker({
            position: { lat: 55.17261260581101, lng: 23.93368917912474 },
            id: `${55.17261260581101}-${23.93368917912474}-${0}`,
            draggable: true,
            optimized: true,
            /*icon: {
              url: `/public/images/zemelapis/4-TOWN_HALL.svg`,
              scaledSize: new google.maps.Size(41, 58),
            }*/
          });
          // create new marker

          // add marker to all markers array
          allMarkers.push(marker);

          /*
                    Default SuperClusterAlgorithm values (value-default-description):
                        minZoom	    0	    Minimum zoom level at which clusters are generated.
                        maxZoom	    16	    Maximum zoom level at which clusters are generated.
                        minPoints	2	    Minimum number of points to form a cluster.
                        radius	    40	    Cluster radius, in pixels.
                        extent	    512	    (Tiles) Tile extent. Radius is calculated relative to this value.
                        nodeSize	64	    Size of the KD-tree leaf node. Affects performance.
                        log	        false	Whether timing info should be logged.
                        generateId	false	Whether to generate ids for input features in vector tiles.
                */
          const modifiedClusterAlgorithm = new SuperClusterAlgorithm({
            radius: 200,
            maxZoom: 17,
          });

          // Initialise MarkerClusterer
          const markerCluster = new MarkerClusterer({
            markers: allMarkers,
            map,
            algorithm: modifiedClusterAlgorithm,
          });

          // create marker visiblity array, indexed by marker id
          // (accessed directly through index instead of search)
          // for efficient marker visibility updates
          let markerVisibilitySetting = [];
          allMarkers.forEach((marker) => {
            markerVisibilitySetting[marker.id] = true;
          });

          const rerenderClusters = () => {
            const markersToDelete = [];
            const markersToShow = [];

            allMarkers.forEach((marker) => {
              markersToShow.push(marker);
              markerVisibilitySetting[marker.id] = true;
            });

            // the second argument of removeMarkers() and addMarkers() is "nodraw",
            // which prevents the cluster from redrawing if set to true

            // delete old markers from the cluster

            // add new markers to the cluster
            if (markersToShow.length) {
              markerCluster.addMarkers(markersToShow, true);
            }

            // re-render clusters only if markers were deleted or added
            if (markersToDelete.length || markersToShow.length) {
              markerCluster.render();
            }
          };

          map.addListener("click", () => infoWindow.close());
          map.addListener("bounds_changed", debounce(rerenderClusters, 125));
        })
        .catch((err) => {
          console.log(err);
        });
    });
    const questions = ref(originalQuestions.questions);
    const lat1 = ref(0);
    const lng1 = ref(0);
    
    const atstumas = ref(0);
    const correctanswer = ref(false);
    const middlecorrectanswer= ref(false);
    const incorrectanswer= ref(false);
    const successTextBadge= ref("");

    const reloadPage = () =>{
      
      window.location.reload();
    }

    const submitAnswer = () => {
      correctanswer.value=false;
      middlecorrectanswer.value = false;
      incorrectanswer.value=false;
      successTextBadge.value="";
      lat1.value = allMarkers[0].getPosition().lat();
      lng1.value = allMarkers[0].getPosition().lng();
      const pilis = {
        lat: questions.value[currQuestionID.value].lat,
        lng: questions.value[currQuestionID.value].lng,
      };
      atstumas.value = calcCrow(
        lat1.value,
        lng1.value,
        pilis.lat,
        pilis.lng
      ).toFixed(2);
      if (atstumas.value < 2) {
        correctanswer.value = true;
        greenCount.value += 1;
        showPlaceName.value = true;
        pointsAll.value += pointsPerQuestion.value;
      } else if (atstumas.value >= 2 && atstumas.value < 10) {
        middlecorrectanswer.value = true;
        yellowCount.value += 1;
        if (yellowCount.value <= 3){
          pointsPerQuestion.value -= 0.5
        } else{
          showPlaceName.value = true;
          pointsPerQuestion.value = 0;
        }
      } else {
        incorrectanswer.value = true;
        redCount.value += 1;
        if (redCount.value <= 5){
          pointsPerQuestion.value -= 1
        } else{
          showPlaceName.value = true;
          pointsPerQuestion.value = 0;
        }
      }
    
    };
    const nextQuestion = (data, amount, pointsTotal) =>{
      
      pointsPerQuestion.value = 10;
      redCount.value = 0;
      yellowCount.value = 0;
      greenCount.value = 0;
      showPlaceName.value = false;
      currQuestionID.value += 1;
      lat1.value = 0;
      lng1.value = 0;
      atstumas.value = 0;
      correctanswer.value=false;
      middlecorrectanswer.value = false;
      incorrectanswer.value=false;
      successTextBadge.value = "";
      if(data.auth.user!=null && currQuestionID.value==10){

            console.log("Pridedam");
            Inertia.post('submit-vietosSpejimasZaidimas', {
                userId: data.auth.user.id,
                points: pointsTotal,
            },{
                onSuccess: (response) => {
                    if (response?.props?.flash?.message) {
                        successTextBadge.value = response.props.flash.message;
                    }
            }});
      }
      amount++;
    //  console.log("data ", data.auth.user);
   //   console.log("all ", 0);
   //   console.log("id ", currQuestionID.value);
   //   console.log("idaaa ", questions.length);
    
      console.log("data ", data.auth.user);
      console.log("all ", pointsTotal);
      console.log("id ", currQuestionID.value);
      console.log("idaaa ", questions.length);
      console.log("kiekis ", amount);
    };
    const calcCrow = (lat1, lng1, lat2, lng2) => {
      var R = 6371; // km
      var dLat = toRad(lat2 - lat1);
      var dLng = toRad(lng2 - lng1);
      var lat1 = toRad(lat1);
      var lat2 = toRad(lat2);

      var a =
        Math.sin(dLat / 2) * Math.sin(dLat / 2) +
        Math.sin(dLng / 2) *
          Math.sin(dLng / 2) *
          Math.cos(lat1) *
          Math.cos(lat2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
      var d = R * c;
      return d;
    };
    const toRad = (value) => {
      return (value * Math.PI) / 180;
    };

    return {
      lat1,
      lng1,
      submitAnswer,
      atstumas,
      correctanswer,
      middlecorrectanswer,
      incorrectanswer,
      currQuestionID,
      nextQuestion,
      questions,
      pointsAll,
      pointsPerQuestion,
      redCount,
      yellowCount,
      greenCount,
      showPlaceName,
      reloadPage, 
      successTextBadge,
    };
  },

  methods: {
    // calcCrow: function(lat1, lng1, lat2, lng2) {
    //   var R = 6371; // km
    //   var dLat = toRad(lat2 - lat1);
    //   var dLng = toRad(lng2 - lng1);
    //   var lat1 = toRad(lat1);
    //   var lat2 = toRad(lat2);
    //   var a =
    //     Math.sin(dLat / 2) * Math.sin(dLat / 2) +
    //     Math.sin(dLng / 2) *
    //       Math.sin(dLng / 2) *
    //       Math.cos(lat1) *
    //       Math.cos(lat2);
    //   var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
    //   var d = R * c;
    //   return d;
    // },
    // toRad: function(value){
    //   return value * Math.PI / 180
    // }
  },
};
</script>
