<template>
    <Layout pageTitle="Seniūnijų viktorina">

      <!-- {{$page.props}}
       TST
       {{userGamesPlayed}}
       {{successTextBadge}}-->
        <div v-if="reportFormOpen" class="viktorina__report">
            <div class="viktorina__report-form">
                <div class="viktorina__report-form-content">
                    <label class="viktorina__report-form-label" for="report-text">Problemos aprašymas:</label><br>
                    <textarea class="viktorina__report-form-input" id="report-text" type="text" required maxlength="500" v-model="reportText" />
                </div>

                <div class="viktorina__game-actions-container">
                    <button
                        @click="closeProblemReport"
                        class="viktorina__end-button viktorina__report-cancel"
                    >
                        Atšaukti
                    </button>

                    <button
                        @click="submitProblem"
                        class="viktorina__continue-button viktorina__report-submit"
                        :disabled="isReportLoading"
                    >
                        Pateikti
                    </button>
                </div>
            </div>
        </div>

<!--        <p v-if="successText" class="viktorina__success-text">-->
<!--            {{ successText }}-->
<!--        </p>-->
<!--        <p v-if="successTextBadge" class="viktorina__success-text">-->
<!--            {{ successTextBadge }}-->
<!--        </p>-->


        <div v-if="isGameStarted" class="viktorina__game-content" :class="{ 'hidden': reportFormOpen }">
            <div class="viktorina__question-content">
                <img
                    :src="questions[currQuestionID].image"
                    alt="Seniūnijos nuotrauka"
                    class="viktorina__image"
                >
                <p class="viktorina__question-text">{{ questions[currQuestionID].question }}</p>
            </div>

            <div class="viktorina__problem-button-wrapper">
                <button
                    class="styled-button viktorina__problem-button"
                    @click.prevent="openProblemReport"
                >
                    Radote klaidą?
                </button>
            </div>

            <div v-if="showAnswer" class="viktorina__answer-results">
                <p v-if="isAnswerCorrect" class="viktorina__answer-correct">Atsakymas teisingas!</p>
                <p v-else class="viktorina__answer-wrong">Atsakymas neteisingas</p>

                <p class="viktorina__answer-text">Jūsų atsakymas: <b>{{ answer }}</b></p>
                <p class="viktorina__answer-text">Teisingas atsakymas: <b>{{ questions[currQuestionID].answer }}</b></p>
            </div>
            <form v-else @submit.prevent="submitAnswer" class="viktorina__submit-form">
                <label for="atsakymas" class="viktorina__form-label">Jūsų atsakymas:</label>
                <div class="viktorina__form-row">
                    <input v-model="answer" type="text" id="atsakymas" required class="viktorina__form-input">
                    <button type="submit" class="styled-button viktorina__form-button">Pateikti atsakymą</button>
                </div>
            </form>

            <div class="viktorina__game-actions-container">
                <button @click="endGame($page.props, userGamesPlayed)" class="viktorina__end-button">Baigti žaidimą</button>

                <button
                    v-if="(currQuestionID + 1) < questions.length"
                    @click="continueGame"
                    class="viktorina__continue-button"
                >
                    Kitas klausimas
                </button>
                <p v-else class="viktorina__last-question-text">Tai paskutinis klausimas!</p>
            </div>
        </div>
        <div v-else-if="showStats" class="viktorina__game-content">
            <p class="viktorina__stats-title">Žaidimo rezultatai:</p>
            <ul class="viktorina__stats-list">
                <li class="viktorina__stats-item">Teisingai atsakyta <b>{{ correctCount }}</b> iš <b>{{ guessedCount }}</b> klausimų</li>
                <li class="viktorina__stats-item">Praleista <b>{{ skippedCount }}</b> klausimų</li>
                <li class="viktorina__stats-item">Vidutinis klausimo atsakymo laikas: <b>{{ averageTime }}s</b></li>
                <li class="viktorina__stats-item">Iš viso praleista laiko: <b>{{ totalTime }}s</b></li>
            </ul>
            <button @click="turnOffStats" class="styled-button">Išjungti rezultatus</button>
        </div>
        <div v-else class="viktorina__game-content">
            <div class="viktorina__game-start-description">
                <p class="viktorina__title-text">Žaidimo metu bus pateikiamas seniūnijos aprašymas ir nuotrauka. Atsakyme užtenka lietuviškomis raidėmis parašyti seniūnijos pavadinimą be žodžio "seniūnija".</p>
                <p class="viktorina__title-text">Baigus žaisti žaidimą bus pateikiami įvairūs žaidimo sesijos rezultatai, tokie kaip teisingų atsakymų skaičius, vidutinis klausimo atsakymo laikas bei kiti rodikliai.</p>
            </div>

            <button @click="startGame" class="styled-button">Pradėti žaidimą</button>


        </div>
    </Layout>
</template>

<script>
import { ref } from "vue";
import Layout from "layouts/Layout";
import { Inertia } from "@inertiajs/inertia";
import originalQuestions from "data/viktorina.json";
import "css/components/viktorina.scss";

export default {
    name: "Viktorina",
    components: {
        Layout
    },
    props: ['data','errors','user', 'userGamesPlayed'],

   /* addBadge: function(data){
        this.$inertia.post('/submit-viktorinosZaidimas/', {
                    userId: data.auth.user.id,
                    badge_type: 'seniūnijų žinovas',
                });
    },
*/

    setup() {
        // randomise array order
        const shuffle = (array) => {
            let count = array.length;
            let temp;
            let id;

            // While there remain elements to shuffle
            while (count) {
                // Pick a remaining element
                id = Math.floor(Math.random() * count--);

                // And swap it with the current element
                temp = array[count];
                array[count] = array[id];
                array[id] = temp;
            }

            return array;
        };

        // scroll the view to the top of the screen
        const scrollToTop = () => {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        };

        // general variables
        const questions = ref(originalQuestions.questions);
        const isGameStarted = ref(false);
        const showStats = ref(false);
        const currQuestionID = ref(0);
        const answer = ref("");
        const showAnswer = ref(false);
        const isAnswerCorrect = ref(false);
        const guessedCurrent = ref(false);

        // statistics variables
        const correctCount = ref(0);
        const guessedCount = ref(0);
        const skippedCount = ref(0);
        const startTime = ref(0);
        const endTime = ref(0);
        const totalTime = ref(0);
        const averageTime = ref(0);

        // problem report
        const reportFormOpen = ref(false);
        const isReportLoading = ref(false);
        const reportText = ref("");
        const successText = ref("");


        //badges
        const counter = ref(0);
        const successTextBadge= ref("");

        const startGame = () => {
            questions.value = shuffle(questions.value);
           // $page.props.auth.user.first_game=$page.props.auth.user.first_game+1
            counter.value= counter.value+1;
        //    this.$data.other.countGames=counter;
          console.log(counter);
        //  console.log( this.$data.other.countGames);
           //this.data.counter +=1;
            currQuestionID.value = 0;
            showAnswer.value = false;
            answer.value = "";
            successText.value = "";
            successTextBadge.value="";

            correctCount.value = 0;
            guessedCount.value = 0;
            startTime.value = new Date().getTime();

            isGameStarted.value = true;
            scrollToTop();
        };

        const continueGame = () => {
            if (!guessedCurrent.value) {
                skippedCount.value += 1;
            }

            guessedCurrent.value = false;
            answer.value = "";
            showAnswer.value = false;
            currQuestionID.value += 1;
            successText.value = "";
            successTextBadge.value="";


            scrollToTop();
        };

        const submitAnswer = () => {
            // modified answer covers cases where for example the answer is
            // 'Senamiesčio' but the user submits 'Senamiestis'
            const modifiedAnswer = questions.value[currQuestionID.value].answer.slice(0, -3);

            if (answer.value.toLowerCase().includes(modifiedAnswer.toLowerCase())) {
                correctCount.value += 1;
                isAnswerCorrect.value = true;
            } else {
                isAnswerCorrect.value = false;
            }

            guessedCurrent.value = true;
            guessedCount.value += 1;
            showAnswer.value = true;

        };

        const endGame = (data, amount) => {
            isGameStarted.value = false;
            successText.value = "";
            successTextBadge.value = "";
            endTime.value = new Date().getTime();
            const timeDiff = endTime.value - startTime.value;

            // when calculating, protect against division from zero
            if (timeDiff > 0) {
                totalTime.value = ((endTime.value - startTime.value) / 1000).toFixed(2);
            } else {
                totalTime.value = 0;
            }

            if (totalTime.value > 0 && guessedCount.value > 0) {
                averageTime.value = (totalTime.value / guessedCount.value).toFixed(2);
            } else {
                averageTime.value = 0;
            }

            showStats.value = true;
            scrollToTop();

            if(data.auth.user!=null){
                console.log("Pridedam");
                Inertia.post('submit-viktorinosZaidimas', {
                    userId: data.auth.user.id,
                    allTime: totalTime.value,
                    average: averageTime.value,
                    answeredQuestions: correctCount.value,
                    skippedQuestions: skippedCount.value,

                },{
                    onSuccess: (response) => {
                        if (response?.props?.flash?.message) {
                            successTextBadge.value = response.props.flash.message;
                        }
                }});
            }
            // if(amount==14)
            // {
            //     Inertia.post('/submit-zenkliukai/', {
            //         userId: data.auth.user.id,
            //         badge_type: "seniūnijų ekspertas",
            //     },{
            //     onSuccess: (response) => {
            //         console.log(response);

            //
            //     }});
            // }
            //
            // if(amount==8)
            // {
            //     Inertia.post('/submit-zenkliukai/', {
            //         userId: data.auth.user.id,
            //         badge_type: "seniūnijų žinovas",
            //     },{
            //     onSuccess: (response) => {
            //         console.log(response);
            //         if (response?.props?.flash?.message) {
            //             successTextBadge.value = response.props.flash.message;
            //         }
            //
            //     }});
            // }

            /*,{
                onSuccess: (response) => {
                    if (response?.props?.flash?.message) {
                        successTextBadge.value = response.props.flash.message;
                    }

                }} */
            //if(data.)

             //this.$inertia.post('/submit-problem/', data);
            amount++;
            console.log(amount);

        };

        const turnOffStats = () => {
            showStats.value = false;
            scrollToTop();
        };

        const openProblemReport = () => {
            scrollToTop();
            reportFormOpen.value = true;
        };

        const closeProblemReport = () => {
            reportText.value = "";
            reportFormOpen.value = false;
        };

        const submitProblem = () => {
            successText.value = "";

            isReportLoading.value = true;
            Inertia.post('submit-problemv', {
                title: `Viktorinos žaidimo klausimas su atsakymu '${questions.value[currQuestionID.value].answer}'`,
                description: reportText.value + ".",
                problem_type: `viktorina`,
            }, {
                onSuccess: (response) => {
                    if (response?.props?.flash?.message) {
                        successText.value = response.props.flash.message;
                    }

                    isReportLoading.value = false;
                    reportFormOpen.value = false;
                    reportText.value = "";
                }
            });
        };

        return {
            questions,
            currQuestionID,
            isGameStarted,
            answer,
            isAnswerCorrect,
            showAnswer,
            startGame,
            endGame,
            continueGame,
            submitAnswer,
            turnOffStats,
            showStats,
            correctCount,
            guessedCount,
            skippedCount,
            totalTime,
            averageTime,
            openProblemReport,
            closeProblemReport,
            submitProblem,
            reportFormOpen,
            reportText,
            successText,
            isReportLoading,
            counter,
            successTextBadge,
        };
    }
};
</script>
