.body-404 {
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.text-404 {
    font-size: 36px;
    margin-bottom: 32px;
}

.link-404 {
    background-color: black;
    border: 2px solid black;
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding: 12px 16px;
    text-decoration: none;
}

.link-404:hover {
    background-color: white;
    color: black;
}

.link-404:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.link-404:focus {
    outline-color: rgba(233, 75, 75, 0.7);
    outline-offset: 4px;
}
