<template>
    <Layout pageTitle="Administracija - Naujienos">

        <div class="admin-container">
            <h1>Naujienos</h1>
        <table class="admin-table">
            <thead>
            <tr>
                <td>Pavadinimas</td>
                <td>Autorius</td>
                <td colspan="2">Veiksmai</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="Snews in news" :key="Snews.id">
                <td>{{Snews.title}}</td>
                <td>{{Snews.user}}</td>
                <td class="edit-col">
                        <Link type="button" :href="route('admin-single-news', Snews.id)">Daugiau</Link></td>
                <td class="delete-col"><form>
                    <button wire:click.prevent="deleteRow()" type="button" @click="deleteRow(Snews)" >Istrinti</button>
                </form></td>
            </tr>
            </tbody>
        </table>
        </div>

    </Layout>
</template>

<script>
import Layout from "layouts/Layout";
import "css/components/admin.scss";
import {Link, usePage} from "@inertiajs/inertia-vue3";

export default {
    name: "AdminNews",
    components: {
        Layout,
        Link
    },
    props:[
        'news',
    ],
    methods: {
        deleteRow: function (data) {
            if (!confirm('Ar tikrai norite pašalinti?')) return;
            data._method = 'DELETE';
            this.$inertia.post('/news/' + data.id, data)
        },
    }
};
</script>
