<template>
    <Layout pageTitle="Administracija - Naujienos"
            appClass="app--no-width-limit"
            mainClass="news-container">
        <Link  :href="route('admin-news')">Atgal</Link>

        <div class="news-block">
            <h1 class="news-title">{{news.title}}</h1>
            <p>Autorius: {{news.user}}</p>
            <span class="news-eldership">{{news.eldership}} seniūnija</span>
            <span class="news-date">{{news.date}}</span>
            <div class="news-content">
                <p>{{news.content}}</p>
            </div>
        </div>
    </Layout>
</template>

<script>
import Layout from "layouts/Layout";
import "css/components/news.scss";

import {Link, usePage} from "@inertiajs/inertia-vue3";

export default {
    name: "AdminSingleNews",
    components: {
        Layout,
        Link
    },
    props:[
        'news',
    ],
    created(){
        this.news.date = new Date(this.news.date).toLocaleDateString('lt-lt', {year:"numeric", month:"short", day:"numeric"});
    },
};
</script>
