<template>
<div class="nav-container">
    <nav
        class="nav"
        :class="{ 'nav--mobile': showMobileNav }"
    >
        <h1 class="nav__title">
            <Link :href="route('/')" class="nav__title-link">
                <img src="/images/app-logo.svg" class="nav__logo" alt="App logo" />
                <span class="nav__title-text">Pažink seniūnijas</span>
            </Link>
        </h1>
        <li class="nav__menu">
          <button
            @click="toggleNavigation"
            type="button"
            class="nav__menu-button"
            :class="{ 'nav__menu-button--active': showMobileNav }"
            aria-controls="navigation-content"
            :aria-expanded="showMobileNav"
          >
            <span class="sr-only">
                {{
                    showMobileNav ?
                    "Išjungti meniu" :
                    "Įjungti meniu"
                }}
            </span>
            <div class="nav__menu-button-bar"></div>
            <div class="nav__menu-button-bar"></div>
            <div class="nav__menu-button-bar"></div>
          </button>
        </li>
        <ul
            id="navigation-content"
            class="nav__list"
            :class="{ 'nav__list--mobile': showMobileNav }"
        >
            <li class="nav__item">
                <Link
                    :href="route('news.index')"
                    class="nav__link"
                    :class="{ 'nav__link--active': route().current('news.index') }"
                >
                    Naujienos
                </Link>
            </li>
            <li class="nav__item">
                <Link
                    :href="route('map')"
                    class="nav__link"
                    :class="{ 'nav__link--active': route().current('map') }"
                >
                    Žemėlapis
                </Link>
            </li>
            <li class="nav__item">
                <Link
                    :href="route('games')"
                    class="nav__link"
                    :class="{ 'nav__link--active': route().current('games') }"
                >
                    Žaidimai
                </Link>
            </li>
            <li class="nav__item">
                <Link
                    :href="route('routes')"
                    class="nav__link"
                    :class="{ 'nav__link--active': route().current('routes') }"
                >
                    Maršrutai
                </Link>
            </li>
            <li class="nav__item">
                <Link
                    :href="route('event.index')"
                    class="nav__link"
                    :class="{ 'nav__link--active': route().current('event.index') }"
                >
                    Veiklos
                </Link>
            </li>
            <li class="nav__item">
                <Link
                    :href="route('zenkliukai')"
                    class="nav__link"
                    :class="{ 'nav__link--active': route().current('zenkliukai') }"
                >
                    Ženkliukai
                </Link>
            </li>
            <li class="nav__item">
                <Link
                    :href="route('seniunijos')"
                    class="nav__link"
                    :class="{ 'nav__link--active': route().current('seniunijos') }"
                >
                    Seniūnijos
                </Link>
            </li>
            <li v-if="$page.props.auth.user && $page.props.auth.user.admin_access" class="nav__item">
                <Link
                    :href="route('admin')"
                    class="nav__admin-link"
                    :class="{ 'nav__admin-link--active': route().current('admin') }"
                >
                    Administracija
                </Link>
            </li>
            <!-- Account actions (login/register/logout/profile settings) -->
            <li v-if="$page.props.auth.user" class="nav__account-actions">
                <BreezeDropdown
                    :align="showMobileNav ? '' : 'right'"
                    width="64"
                    :additionalClasses="{ 'nav__account-actions-dropdown-mobile': showMobileNav }"
                >
                    <template #trigger>
                        <span class="inline-flex rounded-md">
                            <button type="button">
                                <span class="nav__account-actions-text">{{ $page.props.auth.user.name }}</span>
                                <img src="/images/dropdown-arrow.svg" class="nav__account-actions-arrow" alt="Profile settings"/>
                            </button>
                        </span>
                    </template>

                    <template #content>
<!--                        <BreezeDropdownLink-->
<!--                            :href="route('user-settings')"-->
<!--                            as="button"-->
<!--                        >-->
<!--                            Nustatymai-->
<!--                        </BreezeDropdownLink>-->
                        <BreezeDropdownLink
                            :href="route('logout')"
                            method="post"
                            as="button"
                            @click="handleLogoutClick"
                        >
                            Atsijungti
                        </BreezeDropdownLink>

                    </template>
                </BreezeDropdown>
            </li>
            <li v-else class="nav__account-actions">
                <Link
                    :href="route('login')"
                    class="nav__link nav__account-actions-text"
                    :class="{ 'nav__link--active': route().current('login') }"
                >
                    Prisijungti
                </Link>
                <Link
                    :href="route('register')"
                    class="nav__link nav__account-actions-text"
                    :class="{ 'nav__link--active': route().current('register') }"
                >
                    Registruotis
                </Link>
            </li>
        </ul>
    </nav>
</div>
    <div class="messages-container" v-if="renderFlashMessages">
        <div  v-for="flashMessage in flashMessages"
             :key="flashMessage.id + flashMessage.message" class="popup-message" :id="flashMessage.id + flashMessage.message" v-bind:class="getMessageClass(flashMessage.messageType)" @click="clearMessages(flashMessage.id + flashMessage.message)">{{flashMessage.message}}</div>
    </div>
</template>



<script>
import {ref, computed, onMounted, onUpdated, onUnmounted, watch} from "vue";
import BreezeDropdown from 'components/Dropdown.vue';
import BreezeDropdownLink from 'components/DropdownLink.vue';
import { Link, usePage } from '@inertiajs/inertia-vue3';
import debounce from "utils/debounce.js";
import "css/components/navigation.scss";
import JQuery from 'jquery'

export default {
    name: "Navigation",
    components: {
        BreezeDropdown,
        BreezeDropdownLink,
        Link
    },
    data(){
        return{
            renderFlashMessages: true,
        }
    },
    emits: ['mobileToggle'],
    props: ['value'],
    setup(props, { emit }) {

        let flashMessages = [];
        let count = 0;
        watch(
            () => usePage().props.value.flash,
            () => {

                flashMessages.push({
                    id: count + usePage().props.value.flash.message,
                    messageType: usePage().props.value.flash.messageType,
                    message: usePage().props.value.flash.message,
                });
                count++;

                setTimeout(function(){
                    hideMessage(count + usePage().props.value.flash.message);

                }, 2000)
            },
            { deep: true}
        )



        function hideMessage(start){
            flashMessages.splice(start, 1);
        }
        const showMobileNav = ref(false);
        const justClickedLogout = ref(false);
        const user = computed(() => usePage().props.value.auth.user);

        const toggleNavigation = () => {
            showMobileNav.value = !showMobileNav.value;
            // emit an event to parent component (Layout)
            emit("mobileToggle", showMobileNav.value);
        };

        const handleLogoutClick = () => {
            justClickedLogout.value = true;
        };

        // disable mobile navigation if it is turned on
        // when the screen becomes wider than 1366px
        const disableMobileNavigationOnResize = () => {
            if (window.innerWidth > 1366 && showMobileNav.value) {
                toggleNavigation();
            }
        };

        // Add event listener on window to listen for resize to
        // disable navigation if the navigation was enabled but the
        // user resized the screen beyond mobile navigation threshold
        // * Also debounce the function execution for 50ms.
        onMounted(() => {
            window.addEventListener("resize", debounce(disableMobileNavigationOnResize, 50));
        });

        onUnmounted(() => {
            window.removeEventListener("resize", debounce(disableMobileNavigationOnResize, 50));
        });

        onUpdated(() => {
            // if the user just logged out, was in the home page and mobile
            // navigation was on, turn it off because the page will not
            // initiate new "setup" to turn navigation off by default
            if (justClickedLogout.value && showMobileNav.value && !user.value) {
                justClickedLogout.value = false;
                toggleNavigation();
            }
        });


        return {
            flashMessages,
            showMobileNav,
            toggleNavigation,
            handleLogoutClick,
            count
        };


    },

    methods:{
        clearMessages: function(element){
            this.flashMessages.splice(element, 1)
            this.rerenderFlashMessages();
        },
        getMessageClass(messageType) {
            switch (messageType){
                case "approved":
                    return "messages-approved";
                case "error":
                    return "messages-error";
            }
        },
        rerenderFlashMessages(){
            // Removing my-component from the DOM
            this.renderFlashMessages = false;

            this.$nextTick(() => {
                // Adding the component back in
                this.renderFlashMessages = true;
            });
        },
    },

};
</script>
