@import "css/global/mixins";
@import "css/global/variables";
@import "css/global/colors";

.admin {
        &__title {
        font-size: 36px;
        letter-spacing: 0.5px;
        margin-bottom: 48px;
        text-align: center;

        @include respond-to(max-width, $break-phone-big) {
            font-size: 30px;
        }
    }

    &__links {
        margin: 0 auto;
        width: 420px;

        @include respond-to(max-width, $break-phone-medium) {
            width: 100%;
        }
    }
}
.admin-container h1{
    font-size: 2em;
    text-align: center;
}
.admin-container{
    max-width: 800px;
    margin: auto;
}
table{
    margin:auto;
    padding: 0 20px;
    width: 100%;
}
tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    transition: ease-in-out 250ms;
}
thead{
    font-weight: bold;
}
thead tr td{
    text-align: left;
}
thead tr td:last-child{
    text-align: center;
}

.edit-col, .delete-col{
    width: 80px;
}
td{
    padding: 6px 0;
}
td button, td a{
    text-decoration: underline 0.1em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}
td button:hover, td a:hover{
    text-decoration-color: rgb(0, 0, 0);
}
.roleSelect Label{
    margin-left: 5px;
}
.add-button{

}
tbody tr:hover{
    background: #eeebef;
}

.add-button {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 6px 16px;
    transition: ease-in-out 250ms ;
}

.add-button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.add-button:hover {
    background-color: #187936;
}

.add-button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.add-button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.add-button:active {
    background-color: #187936;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
