@import "css/global/mixins";
@import "css/global/variables";
@import "css/global/colors";

.badge-container {
    max-width: 1200px;
    margin-top: 64px;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include respond-to(max-width, $break-tablet-big) {
        grid-template-columns: 1fr 1fr;
    }

    @include respond-to(max-width, 610px) {
        grid-template-columns: 1fr;
    }
}

.badge_block {
    margin: 30px 30px;
}

.badge_block p {
    padding-top: 16px;
    font-size: 26px;
    text-align: center;
    
    @include respond-to(max-width, 610px) {
        margin: 0;
    }
}

.badge_block img {
    min-width: 200px;
    max-height: 200px;
    display:block;
    margin:auto;
}
