@import "css/global/mixins";
@import "css/global/variables";
@import "css/global/colors";

.games {
    &__title {
        font-size: 36px;
        letter-spacing: 0.5px;
        margin-bottom: 24px;
        text-align: center;

        @include respond-to(max-width, $break-phone-big) {
            font-size: 30px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__game-container {
        padding: 24px 16px 16px;
        background-color: rgba($white, 0.7);
        border: 1px solid rgba($text-default, 0.4);
        margin: 32px auto 16px;
        width: 100%;
        max-width: 700px;

        @include respond-to(max-width, $break-phone-big) {
            padding: 20px 8px 8px;
        }
    }

    &__game-title {
        font-size: 30px;
        text-transform: uppercase;
        border-bottom: 1px solid rgba($black, 0.2);
        padding-bottom: 6px;

        @include respond-to(max-width, $break-phone-big) {
            font-size: 28px;
        }
    }

    &__game-text {
        font-size: 20px;
        padding: 16px 8px 16px 16px;

        @include respond-to(max-width, $break-phone-big) {
            font-size: 18px;
            padding: 16px 4px 16px 8px;
        }
    }
}