@import "css/global/colors";
@import "css/global/mixins";
@import "css/global/variables";

$map-width:clamp(200px, 787px, 787px);
$map-height:clamp(200px, 596px, 596px);
$circle-size:200px;
$circle-size-mobile:150px;

.home-map {
    height: $map-height;
    width: $map-width;
    position: relative;

    left: 50%;
    transform: translateX(-50%);
    top: 100px;

}
.home-map image{
    height: $map-height;
    width: 100%;
    aspect-ratio: 1;
}

.home-map-container{

    max-width: 1000px;
    width: auto;
    margin:auto;
    padding: 50px 0;
    max-height: 685px;
    height: calc(100vh - 136px - 65px);

    background: url('images/lithuania-map.svg') no-repeat center;
    background-size: contain;
    position: relative;
}
.home-map-container > a{
    height: $circle-size;
    width: $circle-size;
    background: $burple;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 200ms;
}
.home-map-container > a:hover,.home-map-container > a:focus {
    background: $burple-opacity;
}
.home-map-container > a > p{
    color: white;
    font-size:28px;
    font-style: italic;
    text-align: center;
}
.home-map-container a:nth-child(1){
    top:0;
    left:0;
}

.home-map-container a:nth-child(2){
    top:0;
    right: 0;
}

.home-map-container a:nth-child(3){
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    margin:auto;
}

.home-map-container a:nth-child(4){
    bottom: 0;
    left: 0;
}

.home-map-container a:nth-child(5){
    bottom: 0;
    right: 0;
}

@include respond-to(max-height, 650px) {

    .home-map-container > a{
        height: $circle-size-mobile;
        width: $circle-size-mobile;
    }
}

@include respond-to(max-width, 700px) {
    .home-map-container{
        max-height: 100%;
        height: 100%;
        padding: 0;
    }

    .home-map-container > a{

        position: unset;
        margin:25px auto;
    }

    .home-map-container > a > p{
        font-size:20px;
    }
}
