@import "css/global/colors";
@import "css/global/variables";
@import "css/global/mixins";

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	background: linear-gradient(90deg, $lavander-light, $red-light);
}

.main-content {
	flex-grow: 1;
	padding: 64px 16px 100px;
    margin: 0 auto;
	max-width: $page-width-limit;
	width: 100%;

	@include respond-to(max-width, $break-phone-medium) {
		padding: 48px 8px 80px;
	}

	&--no-width-limit {
		max-width: none;
	}

	&--no-padding {
		padding: 0;
	}
}

.main-content--hidden {
	display: none;
}
