@import "css/global/colors";

.map-container {
    width: 100vw;
    display: flex;
    flex-grow: 1;
    padding: 0;
}

.map1 {
    min-width: 65%;
    border: 0;
}

.map {
    width: 100%;
    border: 0;

    // filters
    &__filters-container {
        background-color: $white;
        border: 1px solid rgba($purple, 0.3);
        border-left: 0;
        position: absolute;
        left: 0;
        top: 10px;
        padding: 0 8px 10px 12px;
    }

    &__filters-container--small {
        padding: 0 8px 0 12px;
    }

    &__filters-header {
        border-bottom: 1px solid rgba($black, 0.5);
        line-height: 48px
    }

    &__filters-header--small {
        border: 0;
    }

    &__filters-header-text {
        display: inline-block;
        font-size: 22px;
        vertical-align: middle;
    }

    &__filters-close {
        color: $purple-dark;
        font-size: 36px;
        vertical-align: middle;
        margin-left: 12px;
        transition: 0.3s all;
        width: 32px;

        &:hover {
            color: $black;
        }

        &:active {
            color: $purple-dark;
        }
    }

    &__filters-close--rotated {
        transform: rotate(90deg);
    }

    &__filters-list {
        margin-top: 8px;
    }

    &__filter-item {
        font-size: 19px;
        margin-top: 2px;

        &:hover {
            color: $purple-dark;
        }

        &:active {
            color: $purple;
        }
    }

    &__filter-checkbox {
        height: 20px;
        margin-left: 6px;
        width: 20px;
    }

    &__filter-label {
        margin-left: 10px;
        vertical-align: text-top;
    }

    // place information
    &__place-info-title {
        font-size: 22px;
        margin-bottom: 10px;
        text-align: center;
    }

    &__place-info-text {
        font-size: 18px;
        margin-bottom: 6px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__place-info-image {
        margin: 0 auto 16px;
    }
}

.main-content--hidden.map-container {
    display: none;
}

.map__place-info-image {
    width: 250px;
    display: block;
    margin: auto;
}
