#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: left;
    line-height: 30px;
    padding-left: 10px;
    width: 400px;
  }
  