@import "css/global/mixins";
@import "css/global/variables";
@import "css/global/colors";
@import "css/global/animations";

.marsrutai {
    max-width: $big-page-width-limit;
    margin: 0 auto;
    
    &__section {
        display: block;
        text-align: center;
        position: relative;
        margin-bottom: 36px;
        background-color: rgba($black, 0.1);

        @include respond-to(max-width, $break-tablet-small) {
            margin-bottom: 24px;
        }

        @include respond-to(max-width, $break-phone-big) {
            margin-bottom: 12px;
        }

        &:last-of-type {
            margin-bottom: 0;
            z-index: 2;
        }
    }

    &__image {
        margin: 0 auto;
    }

    &__title {
        position: absolute;
        top: 64px;
        width: 100%;
        color: $white;
        font-size: 72px;
        font-weight: bold;
        letter-spacing: 4px;
        text-transform: uppercase;
        background-color: rgba($black, 0.7);
        border: 1px solid $white;
        border-left: 0;
        border-right: 0;
        padding: 12px 0;

        @include respond-to(max-width, $break-tablet-medium) {
            top: 36px;
            font-size: 50px;
        }

        @include respond-to(max-width, $break-tablet-small) {
            top: 24px;
            font-size: 36px;
        }

        @include respond-to(max-width, $break-phone-big) {
            top: 12px;
            font-size: 22px;
            padding: 0;
        }
    }

    &__title-text {
        display: inline-block;
        border-bottom: 2px solid $white;
        padding: 0 36px 2px;

        @include respond-to(max-width, $break-phone-big) {
            padding: 0;
            border: 0;
        }
    }

    &__arrow {
        z-index: 1;
        position: fixed;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
        width: 0; 
        height: 0; 
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 50px solid $purple;
        animation: routes-arrow-color-change 1.2s infinite alternate;

        @include respond-to(max-width, $break-phone-big) {
            border-top-width: 40px;
            border-left-width: 40px;
            border-right-width: 40px;
            bottom: 20px;
        }
    }
}
