@import "css/global/mixins";
@import "css/global/variables";
@import "css/global/colors";

.nav-container {
    width: 100%;
    background-color: $white;
    border-bottom: 1px solid rgba($black, 0.4);
}

.nav {
    width: 100%;
    padding: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: relative;
    margin: 0 auto;
	max-width: $page-width-limit;

    @include respond-to(max-width, $break-phone-big) {
        padding: 12px 16px;
    }

    @include respond-to(max-width, $break-phone-medium) {
        padding: 8px 12px;
    }

    &--mobile {
        min-height: 100vh;
    }

    // navigation title and logo
    &__title {
        position: relative;
        font-size: 38px;
        margin-bottom: 12px;
        line-height: 54px;
        font-weight: bold;

        @include respond-to(max-width, $break-navigation-mobile) {
			margin-bottom: 0;
		}

        @include respond-to(max-width, $break-navigation-small) {
            line-height: 40px;
            font-size: 24px;
		}

        @include respond-to(max-width, $break-phone-medium) {
            line-height: 36px;
            font-size: 18px;
        }
    }

    &__title-link {
        margin-left: 68px;

        @include respond-to(max-width, $break-navigation-small) {
            margin-left: 56px;
		}

        @include respond-to(max-width, $break-phone-medium) {
            margin-left: 46px;
        }
    }

    &__logo {
        position: absolute;
        left: 0;
        display: inline-block;
        vertical-align: top;
        height: 54px;

        @include respond-to(max-width, $break-navigation-small) {
            height: 40px;
		}

        @include respond-to(max-width, $break-phone-medium) {
            height: 36px;
        }
    }

    &__title-text {
        color: $purple;

        @include respond-to(max-width, $break-phone-very-small) {
            font-size: 16px;
        }

        &:visited {
            color: $purple;
        }

        &:hover {
            color: rgba($purple, 0.9);
        }

        &:active {
            color: $purple;
        }
    }

    // navigation items (routes)
    &__list {
        width: 100%;
        display: flex;

        @include respond-to(max-width, $break-navigation-mobile) {
			display: none;
		}
    }

    &__list--mobile {
        display: block;
        text-align: center;
        padding: 40px 0;
        margin: 16px auto 0;
        background-color: rgba($pink, 0.03);
        border-top: 1px solid rgba($black, 0.4);

        @include respond-to(max-width, $break-phone-big) {
            margin-top: 12px;
        }

        @include respond-to(max-width, $break-phone-medium) {
            margin-top: 8px;
        }
    }

    &__item {
        display: inline-block;
        margin-right: 16px;
        padding: 4px 8px;
        font-size: 20px;

        &:first-of-type {
            padding-left: 0;
        }

        @include respond-to(max-width, $break-navigation-tight) {
            margin-right: 8px;
            padding: 4px 4px;
        }
    }

    &__list--mobile &__item {
        display: block;
        margin-bottom: 6px;
        font-size: 22px;
        width: 100%;
    }

    &__link {
        &:visited {
            color: $black;
        }

        &:hover {
            color: $purple;
        }

        &:active {
            color: $black;
        }
    }

    &__link--active {
        border-bottom: 1px solid $purple;
    }

    &__admin-link {
        color: $red;
        font-weight: bold;

        &:visited {
            color: $red;
        }

        &:hover {
            color: rgba($red, 0.85);
        }

        &:active {
            color: $red;
        }
    }

    &__admin-link--active {
        border-bottom: 1px solid $red;
    }

    // login/register and user profile settings button
    &__account-actions {
        align-self: center;
        flex-grow: 1;
        text-align: right;
        margin-right: 16px;
        color: $purple-dark;

        &:hover {
            color: rgba($purple-dark, 0.85);
        }

        &:active {
            color: $purple-dark;
        }
    }

    &__list--mobile &__account-actions {
        text-align: center;
        margin-right: 0;
        margin-top: 44px;
    }

    &__account-actions-text {
        font-weight: 500;
        font-size: 20px;
        margin-right: 2px;
    }

    &__account-actions-text:last-child {
        margin-left: 12px;
    }

    &__account-actions-arrow {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 2px;
        height: 24px;
        width: 24px;
    }

    &__account-actions-dropdown-mobile {
        left: 50%;
        transform: translateX(-50%);
    }

    // mobile navigation button
    &__menu {
		display: none;
        align-items: center;
		position: absolute;
		top: -2px;
		right: 32px;
        height: 100%;

		@include respond-to(max-width, $break-navigation-mobile) {
            display: flex;
		}

        @include respond-to(max-width, $break-phone-big) {
            right: 16px;
        }

        @include respond-to(max-width, $break-phone-medium) {
            right: 12px;
        }
	}

    &--mobile &__menu {
        height: auto;
        top: 32px;

        @include respond-to(max-width, $break-navigation-small) {
            top: 24px;
		}

        @include respond-to(max-width, $break-phone-big) {
            top: 20px;
        }

        @include respond-to(max-width, $break-phone-medium) {
            top: 14px;
        }
    }

    &__menu-button,
    &__menu-button-bar {
        width: 40px;

        @include respond-to(max-width, $break-phone-medium) {
            width: 35px;
        }
    }

    &__menu-button {
        position: relative;
        height: 20px;
        cursor: pointer;

        &:focus {
            outline-offset: 10px;
        }
    }

    &__menu-button-bar {
        background-color: $purple-dark;
        position: absolute;
        height: 4px;
        border-radius: 4px;
        transition: all .15s;

        &:nth-child(2) {
            top: 0;
        }

        &:nth-child(3) {
            top: 10px;
        }

        &:nth-child(4) {
            top: 20px;
        }
    }

    &__menu-button--active &__menu-button-bar {
        top: 10px;

        &:nth-child(2) {
            transform: rotate(45deg);
        }

        &:nth-child(3),
        &:nth-child(4) {
            transform: rotate(-45deg);
        }
    }
}

.messages-container{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px; /* Need a specific value to work */
    z-index: 999;
    top:150px;
}
@keyframes floatDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    25%{
        opacity: 5%;
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}
@keyframes fadeoutAnimation {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0;
    }
}
.popup-message{
animation:500ms linear ;
    animation-name: floatDown, fadeoutAnimation;
    animation-delay: 0s, 1.5s;
    animation-fill-mode: forwards;
}
.messages-error{
    text-align:center;
    background: rgba(255, 0, 0, 0.70);
    border-radius: 15px;
    cursor:pointer;
}
.messages-approved{
    text-align:center;
    background: rgba(0, 255, 21, 0.70);
    border-radius: 15px;
    cursor:pointer;
}
