@import "css/global/colors";
@import "css/global/mixins";
@import "css/global/variables";

.naujienu-management-container {
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    margin-bottom: 36px;
}

.mano-prenumeratos {
    border: 1px solid $white;
    background-color: $green;
    padding: 12px;
    font-size: 20px;
    color: $white;
    border-radius: 10px;

    &:hover {
        background-color: rgba($green, 0.9);
    }

    &:active {
        background-color: rgba($green, 0.8);
    }
}

.news-block{
    max-width: 1200px;
    padding: 0 25px 10px;
    margin:auto;
}
.news-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 14px;
    text-transform: uppercase;
}
.news-content{
    margin-top:10px;
    border-top:1px solid #c4c2c5;
    padding: 10px 0 0 0;
}

.news-date{
    float:right;
}

.news-custom-select{
    max-height: 70vh;
    //overflow-y: scroll;
    overflow-x: hidden;
}
.news-custom-select div label{
    margin-left: 5px;
    margin-bottom: 2px;
}
