.button-problem {
   // background-color: #a34c4c; /* Green */
    border: none;
    color: white;
  //  padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display:block; 
    
   // margin: 0 auto;
    right: 50pt;
    bottom: 10pt;
    position: absolute;  
    z-index: 1000;
  }
  .button-problem:hover{
      //background-color: #462020;
     // border: 5px solid seagreen;
     height: 70px;
     width: 70px;
  }