@import "css/global/colors";
@import "css/global/mixins";
@import "css/global/variables";

.problems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;

    &__page-title,
    &__count {
        font-size: 36px;
        letter-spacing: 0.5px;
        margin-bottom: 24px;
        text-align: center;

        @include respond-to(max-width, $break-phone-big) {
            font-size: 30px;
        }
    }

    &__count {
        font-size: 32px;

        @include respond-to(max-width, $break-phone-big) {
            font-size: 28px;
        }
    }

    &__item {
        border-bottom: 1px solid $purple;
        border-left: 2px solid $purple;
        background-color: rgba($white, 0.7);
        width: 960px;
        margin-bottom: 48px;
        padding: 8px 8px 16px 16px;

        @include respond-to(max-width, $break-tablet-big) {
            width: 100%;
        }
    }

    &__item-title {
        font-size: 22px;
    }

    &__item-text {
        font-size: 20px;
        margin: 0 0 6px 18px;
    }

    &__item-picture{
        max-width: 500px;
        max-height: 500px;
    }
    &__item-redirect_text{
        color:rgb(129, 53, 151);
        font-size: 20px;
        letter-spacing: 1px;       
    }
    &__item-redirect_text:hover{
        color:rgb(87, 8, 108);
       
    }
    &__item-div_align{
        text-align: center;      
    }

}
