@import "css/global/animations";
@import "css/global/colors";
@import "css/global/mixins";

.area {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.auth-page-title {
    font-size: 42px;
    color: $purple;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.auth-logo {
    margin: 0 auto;
}

.auth-go-back-link {
    width: 100%;
    font-size: 20px;
    background-color: $white;
    padding: 6px 12px;
    margin: 16px 0 0;
    max-width: 28rem;
    border-radius: 0.5rem;
    text-align: center;

    &:hover {
        background-color: rgba($white, 0.9);
    }

    &:active {
        background-color: rgba($white, 0.8);
    }
}

.auth-alt-actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include respond-to(max-width, 340px) {
        flex-direction: column;
        align-items: flex-end;
    }
}

.auth-alt-actions > * {
    flex-shrink: 0;
}

.auth-alt-actions a:nth-of-type(2) {
    margin-left: 16px;
}

.breeze-form-submit-button {
    margin-top: 6px;
}

.auth-alt-actions a:nth-of-type(2),
.breeze-form-submit-button {
    @include respond-to(max-width, 340px) {
        margin-left: 0;
    }
}

.bubbles {
    background: $purple-light;
    background: -webkit-linear-gradient(to left, $pink, $purple-light);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.circles {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba($white, 0.2);
    animation: auth-rising-bubbles 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
