@import "css/global/colors";
@import "css/global/mixins";
@import "css/global/variables";

.renginiai-management-container {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  margin-bottom: 36px;
}

.picture-background{
  filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(57deg) brightness(109%) contrast(99%);
  margin-left: auto;
  margin-right: auto;
}
.blokas{
    background-color: $white;
    border: 1px solid rgb(98, 66, 129);
    //width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}
.tekstas-pav{
    color: rgb(60, 16, 65);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 2px;
  }

.renginio-tekstas {
  padding-left: 12px;
  margin-bottom: 8px;
  font-size: 19px;
}

.sujungta{
    margin-top: 32px;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba($white, 0.5);
    border-radius: 10px;
    border-bottom: 1px solid rgb(98, 66, 129);
    font-size: 20px;
    padding: 16px 24px;
}

.renginiai-atgal-container {
  width: 100%;
  text-align: center;
  margin-bottom: 28px;

  @include respond-to(max-width, 400px) {
    border: 1px solid $black;
    padding-bottom: 4px;
  }
}

.renginiai-atgal {
  padding: 4px 16px;
  border: 1px solid $black;
  background-color: $white;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;

  @include respond-to(max-width, 400px) {
    border: 0;
    background-color: initial;
  }
}

.renginiai-atgal:hover {
  background-color: rgba($black, 0.05);
}

.renginiai-atgal:active {
  background-color: rgba($black, 0.15);
}

.event-more-info{
  color: rgb(151, 86, 158);
  font-size: 24px;
  padding: 20px 0 12px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.event-more-info:hover{
  color: rgb(68, 21, 73);
  text-decoration: underline;
}

.button-add-event, .button-add-news {
  background-color: #2c6d2e; /* Green */
  border: 1px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display:block;
  margin: 0 auto;
  border-radius:15px;
}

.button-add-event:hover {
  background-color: #18421a; /* Green */

}

.tekstas-title{
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.renginiai-seniunija {
  font-size: 23px;
}

.renginiai-data {
  font-size: 23px;
}

.renginiai-kategorija {
  margin: 12px 0;
  font-size: 22px;
}

.renginiai-aprasymas {
  padding-left: 4px;
}

.renginiai-nera {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 24px;
}

.renginiai-filtrai {
  display: flex;
  justify-content: center;
  width: 100%;

  .renginiai-filtras:first-child {
    margin-right: 16px;
  }

  @include respond-to(max-width, 530px) {
    flex-direction: column;

    .renginiai-filtras:first-child {
      margin-right: 0;
    }
  }
}

.renginiai-filtras {
  flex-grow: 1;
  width: 100%;

  &:last-of-type {
    margin-right: 0;
  }
}

.renginiai-paieska {
  margin-bottom: 32px;

  @include respond-to(max-width, 530px) {
    margin-bottom: 16px;
  }
}

.renginiai-filtras label {
  font-size: 20px;
  width: 100% !important;
  margin: 0 0 8px 0 !important;
}

.renginiai-filtro-input {
  width: 100%;
}

.renginiu-filtru-container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.renginiu-main-container {
  margin: 0 auto;
}

.renginiai-edit {
  margin-right: 16px;
}
