@import "css/global/colors";
@import "css/global/mixins";
@import "css/global/variables";

.renginiai-edit {
    margin-right: 16px !important;
}

.seniunijos-info-title,
.seniunijos-info-date {
    font-size: 26px;
}

.seniunijos-info-text {
    font-size: 20px;
}
