.map-container {
    width: 100vw;
    display: flex;
    flex-grow: 1;
    padding: 0;
}

.routemap {
    width: 100%;
    border: 0;
}

.bad-url-route {
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
