@import "css/global/colors";
@import "css/global/mixins";
@import "css/global/variables";


.seniunijos-container {
    overflow-y: hidden;
    padding-bottom: 0;
}

.visas {
    max-width: 1000px;
    margin: auto;
    min-height: calc(100vh - 136px - 165px);
    position: relative;
}

.paz-sen-arrow {
    z-index: 1;
    position: relative;
    height: 100px;
    float: right;
    clear: both;
    text-align: center;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px 0;
    transition: all 0.3s;

    &:hover {
        transform: scale(0.98);
        opacity: 0.96;
    }

    &:active {
        opacity: 1;
    }
}

.paz-sen-one {
    width: 400px;
    background-color: rgb(166, 148, 185);
    //transition: background-color 200ms;
    margin-right: 60px;
}

.paz-sen-one:hover {
    //background-color: rgb(166, 108, 153);
}

.paz-sen-two {
    width: 221px;
    background-color: rgb(164, 134, 195);
    //transition: background-color 200ms;
    margin-right: -30px;
}

.paz-sen-two:hover {
    //background-color: rgb(166, 108, 153);
}

.paz-sen-three {
    width: 280px;
    background-color: rgb(185, 157, 214);
    //transition: background-color 200ms;
    margin-right: 50px;
}

.paz-sen-three:hover {
   // background-color: rgb(166, 108, 153);
}

.stulpas {
    background: rgb(221, 214, 243);
    height: 900px;
    width: 70px;
    position: absolute;
    z-index: 0;
    top: 86px;
    right: 100px;
}

.stulpas-mobile {
    display: none;
}

.paz-sen-tekstas {
    text-align: left;
    max-width: 500px;
    color: black;
    font-size: 20px;
    position: relative;
    padding: 10px;
}

#pointer1 {
    // width: 200px;
    //height: 40px;
    //position: relative;
    //background: red;
}

#pointer1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 40px solid #fef7f7;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

#pointer1:before {
    content: "";
    position: absolute;
    right: -40px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 40px solid #a694b9;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
#pointer1:hover {
    //background-color: rgb(166, 108, 153);
}

#pointer2:hover {
    //background-color: rgb(166, 108, 153);
}


#pointer2 {
    // width: 200px;
    //height: 40px;
    //position: relative;
    //background: red;
}

#pointer2:after {
    content: "";
    position: absolute;
    right: 220px;
    bottom: 0;
    width: 0;
    height: 100px;
    border-right: 40px solid rgb(164, 134, 195);
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

#pointer2:before {
    content: "";
    position: absolute;
    left: 220px;
    bottom: 0;
    width: 0;
    height: 100px;
    border-right: 40px solid transparent;
    border-top: 50px solid rgb(164, 134, 195);
    border-bottom: 50px solid rgb(164, 134, 195);
}


.name {
    color: white;
}
#pointer3 {
    // width: 200px;
    //height: 40px;
    //position: relative;
    //background: red;
}

#pointer3:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 40px solid #fef7f7;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

#pointer3:before {
    content: "";
    position: absolute;
    right: -39px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 40px solid rgb(185, 157, 214);
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

.foto{
    width:500px;
}

@include respond-to(max-width, $break-laptop) {
    .stulpas {
        bottom: -100px;
    }
}

@include respond-to(max-width, 1160px) {
    .paz-sen-two {
        margin-right: 24px;
    }
}

@include respond-to(max-width, $break-tablet-small) {
    .seniunijos-container {
        overflow-y: unset;
    }

    .visas {
        padding: 0;
    }

    .paz-sen-top-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .paz-sen-tekstas {
        max-width: unset;
    }

    .stulpas {
        display: none;
    }

    .stulpas-mobile {
        display: block;
        background: rgb(221, 214, 243);
        border: 1px solid rgb(83, 73, 116);
        height: 600px;
        width: 70px;
        margin: auto auto -32px;
    }

    .paz-sen-arrow {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
    }

    .paz-sen-one {
        bottom: 430px;
    }

    .paz-sen-two {
        bottom: 290px;
    }

    .paz-sen-three {
        bottom: 150px;
    }

    .foto {
        margin: 0 auto;
    }
}

@include respond-to(max-width, $break-phone-big) {
    .paz-sen-tekstas {
        font-size: 16px;
    }

    .paz-sen-arrow {
        font-size: 20px;
    }

    .paz-sen-one {
        width: 230px;

        div {
            margin-left: 40px;
        }
    }

    .paz-sen-two {
        width: 160px;
    }

    .paz-sen-three {
        width: 180px;

        div {
            margin-left: 48px;
        }
    }

    #pointer2::before {
        left: 159px;
    }

    #pointer2::after {
        right: 159px;
    }
}
