@import "css/global/colors";
@import "css/global/variables";

#container1 {
    height: 100px;
    position: absolute;
    top: 62px;
    bottom: 0;
    left: 0;
    right: 0;
  }
#left-bar {
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    overflow-y: scroll;
 }
 #right-bar {
    position: relative;
    background-color: green;
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
}

.container1{
    margin: 0 auto;
}

.left-bar {
    margin:auto;
    overflow-y: scroll;
}
 .right-bar {
    margin: auto;
    width: 50%;
}

.block{
    margin: auto;
    width:50%;
    display: flex;
    align-content: space-between;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: baseline;
}

.small_block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.facts{
    text-align: center;
    color:$purple;
    font-size: 30px;
    font-weight: bold;
}

.facts_wrap{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.herbas{
    width: 100px;
}

.text_facts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    width: 30%;
    font-size: 16px;
}

.fact_img{
    margin-top: 5%;
    margin-right: 5%;
    height: 150px;
    margin-bottom: 20px;
}

.text_facts_name{
    margin: auto;
    width: 60%;
    font-size: 16px;
    font-style: italic;
    font-weight: bolder;
}

.text{
    text-align: center;
    margin-bottom: 40px;
}

.facts_img{
    width:50%;
}

iframe{
    width: 896px !important;
    height: 504px !important;
}

.timeline{
    width: 80%;
}

.history{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.h2_bigger{
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}

.history_text{
    text-align: center;
    font-size: 13px;
}

.h_t_1{
    width: 16%;
    margin-left: 1%;
    margin-right: 1%;
}

.h_t_2{
    width: 16%;
    margin-left: 1%;
    margin-right: 1%;
}

.timeline_img{
    margin-left: 3%;
    margin-right: 3%;
}


.vue-horizontal-timeline .timeline .title[data-v-c0e978a0]{
    font-size: 1.1rem !important;
}
.vue-horizontal-timeline .timeline[data-v-c0e978a0]{
    overflow-x: scroll !important;
}

.timeline{
    width: 100% !important;
}
.vue-horizontal-timeline .timeline ol li[data-v-c0e978a0] {
    background: rgb(85, 85, 150) !important;
}
.vue-horizontal-timeline[data-v-c0e978a0] {
    background: white !important;
}

.activities{
    display: inline;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
}

.activity{
    display: flex;
    justify-content: flex-start;
}

.activity_img{
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    max-width: none !important;
}

.activity_block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  width: 100%;
}
.activity_block1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.text_activity_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
}
.text_activity_name_r{
    font-size: 20px;
    text-align: right;
}
.text_activity_name_l{
    font-size: 20px;
    text-align: left;
    font-weight: 600;
}
.text_activity_r{
    text-align:right ;
}
.text_activity_l{
    text-align:left ;
}

.sen_map{
    height: 400px;
}

.events_wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.events_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.events_img{
    width: 50%;
}

.events_img_wrap{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    min-width: 30%;
}

.text_events{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 16px;
    margin-bottom: 20px;
}
.text_events_name{
    font-size: 20px;
}

.text_contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
    width: 30%;
    font-size: 16px;
}

.title[data-v-c0e978a0]{
    color:rgb(85, 85, 150) !important;
}

.vue-horizontal-timeline .timeline ol li.add-step[data-v-c0e978a0]:not(:last-child)::after {
    background: #faaca8 !important;
}


 #pointer {
  width: 200px;
  height: 40px;
  position: relative;
  background: red;
}
#pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
#pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid red;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

