@import "css/global/colors";
@import "css/global/mixins";
@import "css/global/variables";


.ivedimo-fonas{
    background-color:$lavander-light;
    border: 1px solid rgb(98, 66, 129);
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}
.tekstas1{
    color: rgb(60, 16, 65);
}

.custom-select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; /* remove default styling */
    background-color: inherit;
    border: none;
    color: #333;
    display: block;
    font-size: 16px;
    height: 32px;
    padding: 5px 30px 5px 10px;
    margin: 0;
    outline: none;
  }

  /* drop arrow */
  .custom-select:after {
    color: #AAA;
    font-size: 12px;
    right: 8px;
    top: 10px;
  }
.custom-select {
    background-color: #eee;
    float: left;
    margin-right: 10px;
  }
.paz-sen-arrow1 {
    z-index: 1;
    position: relative;
    height: 50px;
    border: 1px solid rgb(55, 59, 55);
    float: right;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px 0;
    width: 150px;
    margin-right: 50px;
}

  .paz-sen-one1 {
    background-color: rgb(110, 167, 120);
    transition: background-color 200ms;
  }
  .paz-sen-one1:hover {
    background-color: rgb(62, 113, 67);
  }
  .paz-sen-two1 {
    background-color: rgb(203, 143, 191);
      transition: background-color 200ms;

  }
  .paz-sen-two1:hover {
    background-color: rgb(137, 78, 148);
  }


  .paz-sen-tekstas2 {
    text-align: left;
    max-width: 500px;
    //background-color: rgb(223, 195, 240);
    color:rgb(67, 30, 61);
    font-size: 25px;
    position: relative;
    padding: 10px;
  }
  .paz-sen-tekstas1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 700px;
    //background-color: rgb(223, 195, 240);
    color:rgb(67, 30, 61);
    font-size: 20px;
    position: relative;
    padding: 10px;
  }


  .button {
    background-color: #2c6d2e; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display:block; 
    margin: 0 auto;    
  }
  .button:hover{
      background-color: #204622;
  }
  .svg-file-and-text{
      background-color: rgb(229, 182, 182);
      position: relative;
      height: 500px;
  }
  .svg-files{
      background-color: white;
      max-height: 500px;
      max-width: 500px;
      border: 1px solid rgb(55, 59, 55);
      margin-top: 150px;
  }
  .svg-block{
      padding: 5 px;
      max-height: 500px;
      max-width: 500px;
      margin-top: 0px;
      text-align: center;
      font-size: 20px;
      background-color: rgb(201, 158, 188);
      position: relative;
  }
  .svg-tekstas{
    padding: 5 px;
    margin-left: 550px;
    margin-top: -500px;
    margin-bottom: 500px;
    max-width: 480px;
    min-width: 480px;
    text-align: center;
    position: relative;
    font-size: 20px;
    background-color: rgba(221, 183, 221, 0.779);
}