@import "css/global/mixins";
@import "css/global/variables";
@import "css/global/colors";

.viktorina {
    &__game-content {
        max-width: 800px;
        text-align: center;
        margin: 0 auto;
    }

    // ------content before game start
    &__game-start-description {
        padding: 24px 32px;
        border: 1px solid rgba($black, 0.1);
        margin-bottom: 32px;

        @include respond-to(max-width, $break-phone-big) {
            padding: 8px;
        }
    }

    &__title-text {
        font-size: 22px;

        @include respond-to(max-width, $break-phone-big) {
            font-size: 20px;
        }
    }

    &__title-text:nth-child(odd) {
        margin-bottom: 32px;
    }

    &__title-text:last-of-type {
        font-size: 20px;

        @include respond-to(max-width, $break-phone-big) {
            font-size: 18px;
        }
    }

    // ------content during the game
    // question and image
    &__question-content {
        border: 1px solid rgba($black, 0.2);
        margin-bottom: 48px;
    }

    &__image {
        max-width: 100%;
        height: 600px;
        object-fit: cover;
        margin: 0 auto;

        @include respond-to(max-width, $break-tablet-small) {
            height: 300px;
        }
    }

    &__question-text {
        font-size: 24px;
        padding: 32px 16px;

        @include respond-to(max-width, $break-tablet-small) {
            font-size: 22px;
            padding: 20px 8px;
        }
    }

    // answer submit form
    &__submit-form,
    &__answer-results {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid $purple;
        padding-bottom: 48px;
        margin-bottom: 32px;
    }

    &__form-label {
        text-align: left;
        font-size: 24px;
        margin-bottom: 6px;
        text-transform: uppercase;
    }

    &__form-row {
        display: flex;
        align-items: center;

        @include respond-to(max-width, $break-tablet-small) {
            flex-direction: column;
            align-items: initial;
        }
    }

    &__form-input {
        font-size: 22px;
        margin-right: 16px;
        padding: 12px 16px;
        display: inline-block;
        flex-grow: 1;

        @include respond-to(max-width, $break-tablet-small) {
            margin-right: 0;
            margin-bottom: 12px;
        }
    }

    &__form-button {
        display: inline-block;
        width: auto;
        margin: 0;
    }

    // answer results
    &__answer-results {
        align-items: center;
    }

    &__answer-correct,
    &__answer-wrong {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 24px;
        padding-bottom: 4px;
    }

    &__answer-correct {
        color: $green;
        border-bottom: 1px solid $green;
    }
    
    &__answer-wrong {
        color: $red;
        border-bottom: 1px solid $red;
    }

    &__answer-text {
        font-size: 22px;
    }

    // end/continue game buttons
    &__game-actions-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @include respond-to(max-width, $break-tablet-small) {
            flex-direction: column-reverse;
            align-items: initial;
        }
    }

    &__end-button,
    &__continue-button {
        min-width: 220px;
        display: block;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        padding: 8px 12px;
        font-weight: bold;
        color: $white;
        transition: all 0.2s;

        @include respond-to(max-width, $break-tablet-small) {
            margin-bottom: 12px;
        }
    }

    &__end-button:hover,
    &__continue-button:hover {
        background-color: $white;
        color: $black;
    }

    &__end-button {
        border: 1px solid $red;
        background-color: $red;
    }

    &__continue-button {
        border: 1px solid $green;
        background-color: $green;
    }

    &__end-button:active {
        background-color: rgba($red, 0.1);
    }

    &__continue-button:active {
        background-color: rgba($green, 0.1);
    }

    &__last-question-text {
        font-size: 24px;
    }

    // ------statistics after the game
    &__stats-title {
        font-size: 30px;
        margin-bottom: 16px;
    }

    &__stats-list {
        border-top: 1px solid $purple;
        border-bottom: 1px solid $purple;
        margin: 24px 0 48px;
        padding: 16px 0;
    }

    &__stats-item {
        font-size: 20px;
        margin-bottom: 6px;
    }

    // ------report problem
    &__problem-button-wrapper {
        text-align: right;
        margin-bottom: 12px;
    }

    &__problem-button {
        display: inline-block;
        width: auto;
        margin: 0;
        font-size: 16px;
        background-color: rgba($black, 0.01);
        color: $black;
        border-color: $black;
    }

    // problem report form opened
    &__report {
        background: linear-gradient(90deg, $lavander-light-bright, $red-light-bright);
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__report-form {
        margin: 0 auto;
        width: 600px;
        min-height: 300px;
        height: 450px;
        background-color: $white;
        padding: 24px 28px;
        display: flex;
        flex-direction: column;
        border-radius: 12px;

        @include respond-to(max-width, $break-tablet-small) {
            width: 100%;
            height: auto;
            min-height: auto;
        }
    }

    &__report-form-content {
        flex-grow: 1;
        margin-bottom: 24px;
    }

    &__report-form-label {
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        padding-bottom: 6px;
    }

    &__report-form-input {
        height: 250px;
        width: 100%;
        padding: 8px 16px;
        font-size: 20px;
        resize: none;

        @include respond-to(max-width, $break-phone-medium) {
            height: auto;
        }
    }

    &__success-text {
        color: $green;
        border-bottom: 1px solid $green;
        font-size: 28px;
        margin-bottom: 24px;
        text-align: center;
        padding-bottom: 10px;
    }
}
