<template>
    <Layout
    pageTitle="Veiklos"
    mainClass="activities-container">

    <p class="renginiai-atgal-container">
        <Link  :href="route('event.index')" class="renginiai-atgal">&lt; Atgal į renginius</Link>
    </p>
    <div class="blokas">
        <h1 class="tekstas-pav">Renginio pavadinimas:</h1>
        <p class="renginio-tekstas">{{event.title}}</p>
        <h1 class="tekstas-pav">Renginio aprašymas:</h1>
        <p class="renginio-tekstas">{{event.description}}</p>
        <h1 class="tekstas-pav">Renginio data:</h1>
        <p class="renginio-tekstas">{{event.event_date}}</p>
        <h1 class="tekstas-pav">Renginio kategorija:</h1>
        <p class="renginio-tekstas">{{event.events_categories}}</p>
        <h1 class="tekstas-pav">Seniūnijos, kurioje vyksta renginys, pavadinimas:</h1>
        <p class="renginio-tekstas">{{event.districts}}</p>
        <h1 class="tekstas-pav">Renginio kontaktinis el. paštas:</h1>
        <p class="renginio-tekstas">{{event.contact_email}}</p>
        <div style="min-height: 500px;" id="map"></div>

    </div>


    </Layout>
</template>

<script>
import Layout from "layouts/Layout";
import "css/components/renginiai.scss";
import {Link, usePage} from "@inertiajs/inertia-vue3";
import {computed, inject, onMounted, onUnmounted, ref, Vue} from 'vue';
import {Inertia} from "@inertiajs/inertia";
import { Loader } from "@googlemaps/js-api-loader";
import {MarkerClusterer, SuperClusterAlgorithm} from "@googlemaps/markerclusterer";
import debounce from "utils/debounce.js";

export default {
    name: "Activities",
    components: {
        Layout,
        Link,
    },
    props: {
        event:Object
    },
    setup(props){
        const api_key = ref(process.env.MIX_API_KEY);

        const icons = {
            amusement_park: "1-ATRAKCIJOS1.svg",
            tourist_attraction: "11-KITA2.svg",
            aquarium: "2-GYVUNAI2.svg",
            zoo: "2-GYVUNAI2.svg",
            art_gallery: "3-MUZIEJUS.svg",
            museum: "3-MUZIEJUS.svg",
            city_hall: "4-TOWN_HALL.svg",
            church: "5-RELIGIJA.svg",
            mosque: "5-RELIGIJA.svg",
            synagogue: "5-RELIGIJA.svg",
            park: "6-GAMTA.svg",
        };

        // text to render for each type in object filtering
        const typeNames = {
            amusement_park: "Pramogų parkai",
            tourist_attraction: "Įdomios vietos",
            aquarium: "Akvariumai",
            zoo: "Zoologijos sodai",
            art_gallery: "Meno galerijos",
            museum: "Muziejai",
            city_hall: "Miestų rotušės",
            church: "Bažnyčios",
            mosque: "Mečetės",
            synagogue: "Sinagogos",
            park: "Parkai",
            problem: "Problemos",
            event: "Renginiai"
        };

        // create types array with all information about types
        // that will be held in filters object
        const types = [];
        types.push({
            name: "problem",
            nameNice: typeNames["problem"],
            visible: true
        })
        types.push({
            name: "event",
            nameNice: typeNames["event"],
            visible: true
        })
        onMounted(() => {
            const loader = new Loader({
                apiKey: api_key.value,
                version: "weekly"
            });

            const mapOptions = {
                center: {
                    lat: props.event.latitude,
                    lng: props.event.longitude
                },
                zoom: 13,
                disableDefaultUI: true,
                mapId: "fe5f97cd6e54584a",
            };

            loader
                .load()
                .then((google) => {
                    // load the map
                    const map = new google.maps.Map(document.getElementById("map"), mapOptions);
                    new google.maps.Marker({
                        position: {
                            lat: props.event.latitude,
                            lng: props.event.longitude
                        },
                        map,
                        id: `${props.event.latitude}-${props.event.longitude}-${props.event.id}`,
                        icon: {
                            url: `/images/zemelapis/11-KITA1.svg`,
                            scaledSize: new google.maps.Size(41, 58)
                        },
                        optimized: true,
                        markerType: 'event'
                    })


                    const modifiedClusterAlgorithm = new SuperClusterAlgorithm({
                        radius: 200,
                        maxZoom: 17,
                        minPoints: 3
                    });
                });
        });
    }
};
</script>
