<template>
    <Layout
    pageTitle="Sukurti renginiai"
    mainClass="activities-container">
<div class="container">
    <div class="news-list-container">
      <h1 v-if="filteredEvents.length === 0" class="renginiai-nera">Jūs neturite sukurtų renginių</h1>
    <div v-for="event in filteredEvents" :key="event.id">
       <div class="sujungta">

            <h1 class="tekstas-title">{{event.title}}</h1>
            <span class="news-eldership">{{event.districts}} seniūnija </span>
           <span class="news-date">{{event.event_date}}{{(new Date(event.event_date) <= new Date()) ? " (pasibaigė)" : ""}}</span><br>
           <span class="news-eldership">{{event.events_categories}}</span><br>
           <span v-if="event.approval_status === 'Pending'" class="news-eldership" style="color: dimgray">Laukiama patvirtinimo</span>
           <span v-if="event.approval_status === 'Accepted'" class="news-eldership" style="color: forestgreen">Patvirtintas</span>
           <span v-if="event.approval_status === 'Declined'" class="news-eldership" style="color: darkred">Atmestas</span>
           <span v-if="event.editEvent" class="news-date">{{event.approval_status}}</span><br>
           <p class="news-content">{{substr(event.description, 300)}}</p>
            <Link class="event-more-info" :href="route('event.show',event.id)"><b>Daugiau informacijos</b></Link><br>
            <button @click="edit(event)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Redaguoti</button>
            <button @click="deleteRow(event)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Šalinti</button>
        </div>
    </div>



    </div>

    <div class="fixed z-10 inset-0 overflow-y-auto ease-out duration-400" v-if="isOpen">
                      <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

                        <div class="fixed inset-0 transition-opacity">
                          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                        </div>
                        <!-- This element is to trick the browser into centering the modal contents. -->
                        <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>​
                        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                          <form>
                          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                            <div class="">
                                  <div class="mb-4">
                                      <label for="FormTitle" class="block text-gray-700 text-sm font-bold mb-2">Renginio pavadinimas:</label>
                                      <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="FormTitle" placeholder="Įveskite pavadinimą" v-model="form.title">
                                      <div v-if="errors.title" class="text-red-500">{{ errors.title}}</div>
                                  </div>
                                      <div class="mb-4">
                                      <label for="FormDescription" class="block text-gray-700 text-sm font-bold mb-2">Renginio aprašymas:</label>
                                      <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="FormDescription" placeholder="Įveskite aprašymą" v-model="form.description">
                                      <div v-if="errors.description" class="text-red-500">{{ errors.description}}</div>
                                  </div>
                                  <div class="mb-4">
                                      <label for="FormDate" class="block text-gray-700 text-sm font-bold mb-2">Renginio data:</label>
                                    <Datepicker v-model="form.event_date" id="FormDate" :minDate="new Date()" preventMinMaxNavigation />
                                    <div v-if="errors.event_date" class="text-red-500">{{ errors.event_date}}</div>
                                    </div>
                                      <div class="mb-4">
                                      <label for="FormContactEmail" class="block text-gray-700 text-sm font-bold mb-2">Renginio kontaktinis el. paštas:</label>
                                      <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="FormContactEmail" placeholder="Įveskite el. paštą" v-model="form.contact_email">
                                      <div v-if="errors.contact_email" class="text-red-500">{{ errors.contact_email}}</div>
                                  </div>

                                  <div class="mb-4">
                                    <label for="FormCategories" class="block text-gray-700 text-sm font-bold mb-2">Kategorija:</label>
                                    <div class='custom-select'>
                                    <select id=FormCategories v-model="form.events_categories">
                                        <option
                                        v-for='(d, index) in events_categories'
                                        :key='d'
                                        :value='index'>
                                        {{ d }}
                                        </option>
                                    </select>

                                    </div>
                                    <div v-if="errors.events_categories" class="text-red-500">{{ errors.events_categories}}</div>
                                </div>
                                <br>
                                <div class="mb-4">
                                    <label for="FormDistrict" class="block text-gray-700 text-sm font-bold mb-2">Seniūnijos, kurioje vyksta renginys, pavadinimas:</label>
                                    <div class='custom-select'>
                                    <select id="FormDistrict" v-model="form.districts">
                                        <option
                                        v-for='(d, index) in districts'
                                        :key='d'
                                        :value='index'>
                                        {{ d }}
                                        </option>
                                    </select>
                                    </div>
                                    <div v-if="errors.districts" class="text-red-500">{{ errors.districts}}</div>
                                </div>
                                <div class="mb-4">
                                    <div ref="map" id="map" style="height:300px;"></div>
                                    <div v-if="errors.latitude" class="text-red-500">Pasirinkite lokaciją</div>
                                </div>

                            </div>
                          </div>
                          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                              <button wire:click.prevent="store()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="!editMode" @click="save(form)">
                                Išsaugoti
                              </button>
                            </span>
                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                              <button wire:click.prevent="store()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="editMode" @click="update(form)">
                                Atnaujinti
                              </button>
                            </span>
                            <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">

                              <button @click="closeModal()" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                                Atšaukti
                              </button>
                            </span>
                          </div>
                          </form>

                        </div>
                      </div>
                    </div>
</div>

    </Layout>
</template>

<script>
import Layout from "layouts/Layout";
import "css/components/renginiai.scss";
import {Link, usePage} from "@inertiajs/inertia-vue3";
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import {computed, inject, ref} from 'vue';
import {Inertia} from "@inertiajs/inertia";
import $ from 'jquery';
import { Loader } from "@googlemaps/js-api-loader";

export default {
    name: "Activities",
    components: {
        Layout,
        Link,
        Datepicker
    },
   props: ['data', 'errors', 'events', 'can'],
  setup(props, context) {

    const districts=["Adutiškio","Agluonėnų","Akademijos","Akmenės","Antakalnio","Aukštadvario","Avižienių","Birštono","Daugų","Dieviškių","Domeikavos","Dusetų","Endriejavo","Gaižaičių","Gričiupio","Imbrado","Jašiūnų","Kačerginės","Kapčiamiesčio","Kernavės","Kybartų","Krekenavos","Liudvinavo","Luokės","Marcinkonių","Marijampolės","Merkinės","Meškuičių","Mindūnų","Mosėdžio","Nemenčinės","Neringos","Pagėgių","Pakalniškių","Pivašiūnų","Platelių","Punios","Rozalimo","Ruklos","Rumšiškių","Sasnavos","Senamiesčio","Stakliškių","Šakių","Šiluvos","Šunskų","Šveicarijos","Užliečių","Ventos","Vilkyškių","Židikų",];
    const events_categories=["Koncertas","Minėjimas","Mugė","Dirbtuvės","Talka","Atlaidai","Kita",];

    const date = ref(new Date());

      const api_key = ref(process.env.MIX_API_KEY);
      const map_loader = new Loader({
          apiKey: api_key.value,
          version: "weekly"
      });
    return {
        map_loader,
        date,
      districts,
      events_categories,
    /*  daysInMonth,*/
    };
    },

    // setup(){
    //     const route = inject('$route');
    //     const event = computed(() => usePage().props.value.event);

    //     return {
    //         event
    //     }
    // },
   data() {
            return {
                editMode: false,
                isOpen: false,
                seniunijos: [],
                form: {
                    title: null,
                    description: null,
                    event_date: null,
                    events_categories: null,
                    districts: null,
                    contact_email: null,
                    longitude:null,
                    latitude:null,
                    /*body: null,*/
                },
                positions: {
                    lat: 55.17261260581101,
                    lon: 23.93368917912474,
                },
                zoom: 7,
                 searchValue: '',
                 filterValue: '',
                 filterValue1: ''
            }
   },
   computed: {
        //TODO Sutvarkyti fltrvima, veikia tik su koncertu...
    filteredEvents() {

        let tempEvents = [];
        $.each(JSON.parse(JSON.stringify(this.$page.props.events)), function (index, value){
            tempEvents.push(value);
        });


    // Process search input
    if (this.searchValue != '' && this.searchValue) {
        tempEvents = tempEvents.filter((event) => {
          return event.title
            .toUpperCase()
            .includes(this.searchValue.toUpperCase())
        })
      }
      if (this.filterValue != '' && this.filterValue) {
        tempEvents = tempEvents.filter((event) => {
          return event.districts
            .toUpperCase()
            .includes(this.filterValue.toUpperCase())
        })
      }
      if (this.filterValue1 != '' && this.filterValue1) {
        tempEvents = tempEvents.filter((event) => {
          return event.events_categories
            .toUpperCase()
            .includes(this.filterValue1.toUpperCase())
        })
      }
      return tempEvents
     }
   },
    beforeMount() {
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((position) => {
                this.positions.lat = position.coords.latitude;
                this.positions.lon = position.coords.longitude;
                this.zoom = 14;
            }, (position) => {
                console.log("Error");
            });
        }
    },
    methods:{
        capitalizeFirstLetter: function(string) {
            return string[0].toUpperCase() + string.slice(1);
        },
        substr: function(text, length) {
            let formattedText = text.substring(0, length);
            if (text.length > 50)
                formattedText += "...";
            return formattedText;
        },

        openModal: function(){
            const mapOptions = {
                center: {
                    lat: this.positions.lat,
                    lng: this.positions.lon
                },
                zoom: this.zoom,
                disableDefaultUI: true
            };

            this.isOpen = true;
            this.map_loader.load().then((google) =>{
                let G_map = new google.maps.Map(this.$refs.map, mapOptions);
                let marker = new google.maps.Marker();
                marker.setMap(G_map);
                if(this.form.latitude != null) {
                    marker.setPosition(new google.maps.LatLng(this.form.latitude, this.form.longitude));
                    G_map.setCenter(new google.maps.LatLng(this.form.latitude, this.form.longitude));
                }
                G_map.addListener("click", (mapsMouseEvent) => {
                    this.form.latitude = mapsMouseEvent.latLng.lat();
                    this.form.longitude = mapsMouseEvent.latLng.lng();
                    marker.setPosition(new google.maps.LatLng( this.form.latitude, this.form.longitude ));
                });
            });
        },
        closeModal: function(){
            this.isOpen = false;
            this.reset();
            this.editMode = false;
        },
        reset: function(){
            this.form = {
                title: null,
                description: null,
                event_date: null,
                events_categories: null,
                districts: null,
                contact_email: null,
                latitude: null,
                longitude: null,
                /*body: null,*/
            }
        },
        save: function(data){
            this.$inertia.post('/event', data);
            this.isOpen = false;
            this.reset();
            this.editMode = false;
        },
        edit: function (data) {
                this.form = Object.assign({}, data);
            this.form.districts = this.districts.indexOf(data.districts)+1;
            this.form.events_categories = this.events_categories.indexOf(this.capitalizeFirstLetter(data.events_categories))+1;
                this.editMode = true;
                this.openModal();
            },

            update: function (data) {
                data._method = 'PUT';
                this.$inertia.post('/event/' + data.id, data)
                this.reset();
                this.closeModal();
            },

            deleteRow: function (data) {
                if (!confirm('Ar tikrai norite pašalinti?')) return;
                data._method = 'DELETE';
                this.$inertia.post('/event/' + data.id, data)
                this.reset();
                this.closeModal();
            }



    }
};
</script>
