<template>
    <Layout
        :pageTitle=news.title
        appClass="app--no-width-limit"
        mainClass="news-container">

        <p class="renginiai-atgal-container">
            <Link  :href="route('news.index')" class="renginiai-atgal">&lt; Atgal į naujienas</Link>
        </p>
        <div class="news-block">
            <h1 class="news-title">{{news.title}}</h1>
            <span class="news-eldership seniunijos-info-title">{{news.eldership}} seniūnija</span>
            <span class="news-date seniunijos-info-date">{{news.date}}</span>
            <div class="news-content seniunijos-info-text">
            <p>{{news.content}}</p>
            </div>
        </div>



    </Layout>
</template>

<script>
import Layout from "layouts/Layout";
import "css/components/news.scss";
import "css/components/renginiai_main.scss";
import "css/components/renginiai.scss";
import {Link, usePage} from "@inertiajs/inertia-vue3";

export default {
    name: "SingleNews",
    components: {
        Layout,
        Link,
    },
    props: ['news'],
    created(){
        this.news.date = new Date(this.news.date).toLocaleDateString('lt-lt', {year:"numeric", month:"short", day:"numeric"});
    },
};
</script>
