<template>
    <Layout
        pageTitle="Naujienos"
        appClass="app--no-width-limit"
        mainClass="activities-container">

        <div class="naujienu-management-container">
            <button class="styled-button" v-if="$page.props.subscriptions !== false" @click="openSubscriptionModal($page.props.subscriptions)">Tvarkyti prenumeratas</button>
        </div>

        <div class="news-list-container">
        <div v-for="news in newsL" :key="news.id">

            <div class="sujungta">
                <h1 class="tekstas-title">{{news.title}}</h1>
                <span class="news-eldership">{{news.eldership}} seniūnija</span><span class="news-date">{{news.date}}</span>
                <p class="news-content">{{substr(news.content, 300)}}</p>
                <Link class="event-more-info" :href="route('news.show', news)">Daugiau informacijos</Link><br>
                <button v-if="news.editNews" @click="edit(news)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Redaguoti</button>
                <button v-if="news.editNews" @click="deleteRow(news)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Šalinti</button>
            </div>
        </div>
        </div>

        <div class="fixed z-10 inset-0 overflow-y-auto ease-out duration-400" v-if="isSubOpen">
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

                <div class="fixed inset-0 transition-opacity">
                    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>
                <!-- This element is to trick the browser into centering the modal contents. -->
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>
                <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                    <form>
                        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                            <div class="">
                                <div class="mb-4">
                                    <p>Pasirinkite seniūnijas, kurių naujienas norėtumėte prenumeruoti.</p>
                                    <br>
                                    <p class="block text-gray-700 text-sm font-bold mb-2">Seniūnijos:</p>
                                    <div class='news-custom-select'>
                                        <div v-for="(text, index) in $page.props.elderships" :key="index">
                                            <input type="checkbox" v-model="subscriptionForm.elderships" :value="index+1" :id="text">
                                            <label :for="text" >{{text}}</label>
                                            <br>
                                        </div>
                                    </div>
                                    <div v-if="errors.elderships" class="text-red-500">{{ errors.elderships}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                              <button wire:click.prevent="store()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" @click="saveSubscriptions(subscriptionForm)">
                                Išsaugoti
                              </button>
                            </span>
                            <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">

                              <button @click="closeSubscriptionModal()" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                                Atšaukti
                              </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </Layout>
</template>

<script>
import Vue from 'vue';
import Layout from "layouts/Layout";
import "css/components/renginiai.scss";
import "css/components/news.scss";
import {Link, usePage} from "@inertiajs/inertia-vue3";
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import {computed, inject, ref} from 'vue';
import {Inertia} from "@inertiajs/inertia";

export default {
    name: "News",
    components: {
        Layout,
        Link,
        Datepicker
    },
    props: ['data', 'errors', 'can', 'newsL'],
    setup(props, context) {
        const date = ref(new Date());

        return {
            date
            /*  daysInMonth,*/
        };
    },
    created(){
        // console.log(this.newsL);
        this.newsL.map(function (value, key){
            value.date = new Date(value.date).toLocaleDateString('lt-lt', {year:"numeric", month:"short", day:"numeric"});
        });
    },
    data() {
        return {
            editMode: false,
            isOpen: false,
            isSubOpen: false,
            form: {
                title: null,
                date: null,
                content: null,
                eldership_id: null
            },
            subscriptionForm: {
                elderships: []
            }
        }
    },
    methods:{
        openModal: function(){
            this.isOpen = true;
        },
        closeModal: function(){
            this.isOpen = false;
            this.reset();
            this.editMode = false;
        },
        openSubscriptionModal: function(subscriptions) {
            this.subscriptionForm.elderships = subscriptions;
            this.isSubOpen = true;
        },
        closeSubscriptionModal: function() {
            this.isSubOpen = false;
            this.reset();
        },
        reset: function(){
            this.form = {
                title: null,
                date: null,
                content: null,
                eldership_id: null
            }
        },
        save: function(data){
            this.$inertia.post('/news', data);
            this.isOpen = false;
            this.reset();
            this.editMode = false;
        },
        edit: function (data) {
            this.form = Object.assign({}, data);
            this.editMode = true;
            this.openModal();
        },

        update: function (data) {
            data._method = 'PUT';
            this.$inertia.post('/news/' + data.id, data)
            this.reset();
            this.closeModal();
        },

        saveSubscriptions: function(data) {
            this.$inertia.post('/news/subscriptions', data);
            this.isSubOpen = false;
            this.reset();
        },

        deleteRow: function (data) {
            if (!confirm('Ar tikrai norite pašalinti?')) return;
            data._method = 'DELETE';
            this.$inertia.post('/news/' + data.id, data)
            this.reset();
            this.closeModal();
        },

        substr: function(text, length) {
            let formattedText = text.substring(0, length);
            if (text.length > 50)
                formattedText += "...";
            return formattedText;
        }



    }
};
</script>
