<template>
  <Layout pageTitle="Domeikavos seniūnija">
    <div>
      <div class="container1">
        <div class="small_block herbas">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Domeikava_COA.png"
          />
        </div>
        <div class="small_block">
          <h1 class="nav__title nav__title-text">Domeikavos seniūnija</h1>
        </div>
        <div class="small_block">
          <img src="images/domeikava-map.svg" class="sen_map" />
        </div>
        <br />
        <h1 class="facts">~Istorija~</h1>
        <h1 class="facts">________________</h1>
        <br />
        <div><vue-horizontal-timeline :items="items" /></div>

        <br />
        <br />
        <div>
          <h1 class="facts">~Įdomūs faktai~</h1>
          <h1 class="facts">________________</h1>
          <div class="text facts_wrap">
            <div class="text_facts">
              <div><img src="images/faktas1.svg" class="fact_img" /></div>
              <div>
                Domeikava yra
                <underline class="h2_bigger">didžiausio kaimo</underline>
                statusą turinti gyvenvietė Lietuvoje
              </div>
            </div>
            <div class="text_facts">
              <div><img src="images/faktas2.svg" class="fact_img" /></div>
              <div>
                Sovietinės okupacijos metais Domeikava buvo
                <underline class="h2_bigger">mašinų stoties</underline> ūkio
                centrinė gyvenvietė
              </div>
            </div>
            <div class="text_facts">
              <div>
                <img src="images/faktas3.svg" class="fact_img" />
              </div>
              <div>
                Sovietinės okupacijos metais Domeikavoje veikė
                <underline class="h2_bigger"> pogrindžio spaustuvė,</underline>
                kurios visą dešimtmetį ieškojo, bet taip ir nerado sovietų
                saugumo tarnybos
              </div>
            </div>
          </div>

          <h1 class="facts">~Veikla~</h1>
          <h1 class="facts">________________</h1>
          <div class="activities">
            <div class="activity">
              <div><img src="images/veikla1.svg" class="activity_img" style="margin-left:100px;" /></div>
              <div class="text_activity_block">
                <div class="text_activity_name_l">
                  <div>Domeikavos diskgolfo parkas</div>
                </div>
                <div class="text_activity_l">
                  <div>
                    Unikalus, populiarėjantis sportas. Tokių parkų dar nėra daug
                    Lietuvoje
                  </div>
                </div>
              </div>
            </div>
            <div class="activity">
              <div><img src="images/veikla2.svg" class="activity_img" style="margin-left:200px;" /></div>
              <div class="text_activity_block">
                <div class="text_activity_name_l">
                  <div>Pogrindinė spaustuvė „ab“</div>
                </div>
                <div class="text_activity_l">
                  <div>
                    Domeikavos seniūnijoje veikia išskirtinė pogrindinė
                    spaustuvė „ab“. Kuri dabar yra Kauno karo muziejaus filialas
                  </div>
                </div>
              </div>
              </div>
              <div class="activity">
              <div>
                <img src="images/veikla3.svg" class="activity_img" style="margin-left:300px;" /></div>
              <div class="text_activity_block">
                <div class="text_activity_name_l">
                  <div>Nemokamos treniruotės nuo 55 metų</div>
                </div>
                <div class="text_activity_l">
                  <div>
                    Nemokamos treniruotės Kauno rajono gyventojams nuo 55 metų.
                    Treniruotės su profesionaliu treneriu ir video treniruotės
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h1 class="facts">~Renginiai~</h1>
          <h1 class="facts">________________</h1>
          <div class="events_wrap">
            <div class="events_img_wrap">
              <img src="images/kalendorius.svg" class="events_img" />
            </div>
            <div class="events_text">
              <div class="text_events_name">Kovo 11 d. pėsčiųjų žygis</div>
              <div class="text_events">
                Pėsčiųjų žygis, skirtas Lietuvos nepriklausomybės atkūrimo
                dienai paminėti
              </div>
              <div class="text_events_name">
                Tradicinis Šv. Cecilijos sakralinės muzikos koncertas
              </div>
              <div class="text_events">
                Skirtas bažnytinės muzikos vargonininkų, instrumentų gamintojų,
                dainininkų, muzikantų ir poetų globėjos Šv. Cecilijos dienai
                paminėti
              </div>
              <div class="text_events_name">Eglutės įžiebimas</div>
              <div class="text_events">
                Kiekvienais metais lapkričio paskutinį savaitgalį arba gruodžio
                pirmąjį savaitgalį yra įžiebima įstabaus grožio Domeikavos
                eglutė, kuri kiekvienais metais stebina savo originalumu.
              </div>
            </div>
          </div>
        </div>
        <h1 class="facts">~Susipažinkime~</h1>
        <h1 class="facts">________________</h1>
        <div class="small_block">
          <iframe src="https://www.youtube.com/embed/wTgeXYfxDP8"> </iframe>
        </div>
        <br />
        <div>
          <h1 class="facts">~Kontaktai~</h1>
          <h1 class="facts">________________</h1>
          <div class="text">
            <div class="text_facts_name"><h1>Seniūno vardas, pavardė</h1></div>
            <div class="text_contacts"><h1>Lina Mišeikienė</h1></div>
            <div class="text_facts_name"><h1>Seniūnijos adresas</h1></div>
            <div class="text_contacts">
              <h1>Bažnyčios g. 2, Domeikava, Kauno raj.</h1>
            </div>
            <div class="text_facts_name"><h1>Kontaktinis telefonas</h1></div>
            <div class="text_contacts"><h1>8 37 477 523</h1></div>
            <div class="text_facts_name">
              <h1>Kontaktinis elektroninis paštas</h1>
            </div>
            <div class="text_contacts"><h1>seniunija@domeikava.krs.lt</h1></div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import "css/components/seniunija.scss";
import Layout from "layouts/Layout";
import { VueHorizontalTimeline } from "vue-horizontal-timeline";

export default {
  name: "Home",
  components: {
    Layout,
    VueHorizontalTimeline,
  },
  data() {
    const example1 = {
      title: "2000 m. pr. Kr.",
      content:
        "Seniausia vietos istorijos liudininkė - Radikių vėlyvojo akmens amžiaus stovyklavietė",
    };
    const example2 = {
      title: "1567 m.",
      content:
        "Istorijos šaltinyje „Lietuvos kariuomenės sąrašai“ minimos Eygirdowo, Worlowo ir Romaszko bajorų giminės",
    };
    const example3 = {
      title: "XIX a.",
      content:
        "Rašytiniai šaltiniai liudija, kad Domeikava yra „dvaras Kauno paviete, dešiniajame Neries krante“",
    };
    const example4 = {
      title: "1961 m.",
      content: "Įsikūrė Valstybinė mašinų stotis",
    };
    const example5 = {
      title: "1980 m.",
      content: "Vytautas Andziulis įkūrė pogrindinę spaustuvę „ab“",
    };
    const example6 = {
      title: "1980/90 m.",
      content:
        "Spaustuvėje buvo spausdinama įvairi religinė ir politinė literatūra",
    };
    const example7 = {
      title: "1993 m.",
      content: "Pradėta statyti Lietuvos kankinių bažnyčia",
    };
    const example8 = {
      title: "1995 m.",
      content:
        "Pirmuoju Domeikavos klebonu JE kardinolas Vincentas Sladkevičius paskyrė kunigą Robertą Gedvydą Skrinską",
    };
    const example9 = {
      title: "2002 m.",
      content: "Įregistruota apie 60 šeimų",
    };
    const items = [
      example1,
      example2,
      example3,
      example4,
      example5,
      example6,
      example7,
      example8,
      example9,
    ];

    return { items };
  },
};
</script>
