<template>
  <Layout pageTitle="Samylų seniūnija">
    <div>
      <div class="container1">
        <div class="small_block herbas">
          <img
            src="https://www.krs.lt/media/1215/samylai-1.png"
          />
        </div>
        <div class="small_block">
          <h1 class="nav__title nav__title-text">Samylų seniūnija</h1>
        </div>
        <div class="small_block">
          <img src="images/domeikava-map.svg" class="sen_map" />
        </div>
        <div>
          <h1 class="facts">~Įdomūs faktai~</h1>
          <h1 class="facts">________________</h1>
          <div class="text facts_wrap">
            <div class="text_facts">
              <div><img src="images/faktas1.svg" class="fact_img" /></div>
              <div>Seniūnijos plotas – 7622,99 ha, iš jų <underline class="h2_bigger"> 81,1 % užima miškai </underline>
              </div>
            </div>
            <div class="text_facts">
              <div><img src="images/faktas2.svg" class="fact_img" /></div>
              <div>Iš viso seniūnijoje yra <underline class="h2_bigger"> 8 kaimai, </underline> kuriuose gyvena beveik 5 tūkstančiai žmonių
              </div>
            </div>
            <div class="text_facts">
              <div>
                <img src="images/faktas3.svg" class="fact_img" />
              </div>
              <div>Seniūnijos teritorijoje auga Amūrinių kamštenių, kilusių iš Kinijos, kanadinių klevų, ginkmedžių. Dubravų miške yra  <underline class="h2_bigger">gamtos paminklas</underline> – iš vieno kamieno išaugę šimtametis ąžuolas ir pušis
              </div>
            </div>
          </div>


          <h1 class="facts">~Renginiai~</h1>
          <h1 class="facts">________________</h1>
          <div class="events_wrap">
            <div class="events_img_wrap">
              <img src="images/kalendorius.svg" class="events_img" />
            </div>
            <div class="events_text">
              <div class="text_events_name">Etnografinė šventė „Pėdos marių dugne“</div>
              <div class="text_events">
                Paskutinį rugpjūčio šeštadienį vyksiantis tradicinis Samylų renginys „Pėdos marių dugne“ kviečia prisiminti prieš 62 metus užlietų kaimų istorijas ir kartu vienai dienai tapti Kauno marių užlietų ir pajūrio smėlio užpustytų kaimų gyventojais.
              </div>
              <div class="text_events_name">
                Samylų seniūnijos moterų choras „Žaisa“
              </div>
              <div class="text_events">
                Pavadinimą davė Žaisos upelis, įtekantis į Kauno marias tiesiai priešais Pažaislį, beje, irgi gavusiam vardą nuo minėto upelio. Balsingų moterų kolektyvą 1963 m. subūrė ir beveik du dešimtmečius jam vadovavo chorvedys ir pedagogas Vincas Malinauskas (1920-2016). Chore dainavo prie Kauno marių esančių Šlienavos, Laumėnų, Girionių, Vaišvydavos, Žiegždrių kaimų moterys, dirbančios respublikinėje Marių ligoninėje. Jau po dviejų veiklos metų choras dalyvavo Dainų šventėje Vilniuje ir vėliau nepraleido nei vieno tokio renginio. Keletą metų chorui vadovavo Arvydas Ruželė, o nuo 1983 m. – Lietuvos muzikos akademijos auklėtinė Laimutė Dzedaravičienė.
              </div>
              <div class="text_events_name">Laužo dainų“ festivalis</div>
              <div class="text_events">
                Respublikinis dainuojamosios poeijos festivalis, kuriame susirenka dainuojamosios poezijos atlikėjai ir grupės iš įvairių Lietuvos kampelių.
              </div>
            </div>
          </div>
        </div>
        <h1 class="facts">~Susipažinkime~</h1>
        <h1 class="facts">________________</h1>
        <div class="small_block">
          <iframe src="https://www.youtube.com/embed/S0Xo4Bbuoxg"> </iframe>
        </div>
        <br />
        <div>
          <h1 class="facts">~Kontaktai~</h1>
          <h1 class="facts">________________</h1>
          <div class="text">
            <div class="text_facts_name"><h1>Seniūno vardas, pavardė</h1></div>
            <div class="text_contacts"><h1>Jolita Petkauskė</h1></div>
            <div class="text_facts_name"><h1>Seniūnijos adresas</h1></div>
            <div class="text_contacts">
              <h1>J. Biliūno g. 106, Šlienavos k., Samylų sen., Kauno raj.</h1>
            </div>
            <div class="text_facts_name"><h1>Kontaktinis telefonas</h1></div>
            <div class="text_contacts"><h1>8 37 43 02 16</h1></div>
            <div class="text_facts_name">
              <h1>Kontaktinis elektroninis paštas</h1>
            </div>
            <div class="text_contacts"><h1>seniunija@samylai.krs.lt</h1></div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import "css/components/seniunija.scss";
import Layout from "layouts/Layout";
import { VueHorizontalTimeline } from "vue-horizontal-timeline";

export default {
  name: "Home",
  components: {
    Layout,
    VueHorizontalTimeline,
  },
};
</script>
