<template>
  <Layout pageTitle="Trakų seniūnija">
    <div>
      <div class="container1">
        <div class="small_block herbas">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Trakai_%28Lithuania%29_CoA.svg/1200px-Trakai_%28Lithuania%29_CoA.svg.png"
          />
        </div>
        <div class="small_block">
          <h1 class="nav__title nav__title-text">Trakų seniūnija</h1>
        </div>
        <div class="small_block">
          <img src="images/trakai-map.svg" class="sen_map" />
        </div>

        <br />
        <br />
        <div>
          <h1 class="facts">~Įdomūs faktai~</h1>
          <h1 class="facts">________________</h1>
          <div class="text facts_wrap">
            <div class="text_facts">
              <div><img src="images/faktas1.svg" class="fact_img" /></div>
              <div>
                Trakų seniūnija užima apie <underline class="h2_bigger">14 146 ha</underline> plotą
              </div>
            </div>
            <div class="text_facts">
              <div><img src="images/faktas2.svg" class="fact_img" /></div>
              <div>
                Trakų seniūnijoje gyvena apie <underline class="h2_bigger">9000 gyventojų </underline>
              </div>
            </div>
            <div class="text_facts">
              <div>
                <img src="images/faktas3.svg" class="fact_img" />
              </div>
              <div>
                Seniūnija išsiskiria ežerų, pelkių ir vaizdingų aukštumų gausa. Apie 16% seniūnijos teritorijos užima vandens telkiniai. <underline class="h2_bigger">Teritorijoje yra 36 ežerai</underline>, kurių didžiausi yra Akmenos, Galvės, Skaisčio, Babruko, Plomėnų, Totoriškių, Bernardinų ( Lukos), Nerespinkos ir kt. Apie 7% vandenų naudojama rekreacijai. 40% užima miškai, iš kurių 85 % yra valstybiniai, 15% privatūs
              </div>
            </div>
          </div>

          <h1 class="facts">~Veikla~</h1>
          <h1 class="facts">________________</h1>
          <div class="activities">
            <div class="activity">
              <div><img src="images/veikla1.svg" class="activity_img" style="margin-left:100px;" /></div>
              <div class="text_activity_block">
                <div class="text_activity_name_l">
                  <div>Trakų pilis</div>
                </div>
                <div class="text_activity_l">
                  <div>
                    Dabar pilis atstatyta ir yra vienas populiariausių Lietuvoje turistų lankomų objektų; pilyje vyksta įvairios šventės, veikia archeologinė ir istorinė ekspozicijos, medžioklės muziejus
                  </div>
                </div>
              </div>
            </div>
            <div class="activity">
              <div><img src="images/veikla2.svg" class="activity_img" style="margin-left:200px;" /></div>
              <div class="text_activity_block">
                <div class="text_activity_name_l">
                  <div>Užutrakio dvaro sodyba</div>
                </div>
                <div class="text_activity_l">
                  <div>
                    Užutrakio dvaro sodybą XX a. pradžioje įkūrė grafas Juozapas Tiškevičius drauge su žmona Jadvyga
                  </div>
                </div>
              </div>
              </div>
              <div class="activity">
              <div>
                <img src="images/veikla3.svg" class="activity_img" style="margin-left:300px;" /></div>
              <div class="text_activity_block">
                <div class="text_activity_name_l">
                  <div>Varnikų pažintinis pėsčiųjų takas</div>
                </div>
                <div class="text_activity_l">
                  <div>
                    Skaisčio ežero pakrantėje ant kalvos auga labai senas, 200 metų skaičiuojantis ąžuolynas! Greta ošiantis natūraliai susiformavęs mišrus miškas taip pat žavi savo šimtametėmis eglėmis ir pušimis
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h1 class="facts">~Renginiai~</h1>
          <h1 class="facts">________________</h1>
          <div class="events_wrap">
            <div class="events_img_wrap">
              <img src="images/kalendorius.svg" class="events_img" />
            </div>
            <div class="events_text">
              <div class="text_events_name">Kopūstinės kermošius</div>
              <div class="text_events">
                Kopūstinės kermošius – tai unikalioje erdvėje (renginys vyksta Kopūstinės saloje, pakeliui į Trakų Salos pilį) vykstantis renginys skirtas Žolinėms
              </div>
              <div class="text_events_name">
                Užutrakio vakarai
              </div>
              <div class="text_events">
                Užutrakio dvaro sodybos atgimimą liudijantis ir skatinantis muzikos festivalis. Festivalio Užutrakio vakarai koncertai rengiami atviroje rūmų terasoje. Koncertai ir spektakliai vyksta kiekvieną liepos – rugpjūčio mėn. sekmadienio vakarą
              </div>
              <div class="text_events_name">Trakų miesto šventė</div>
              <div class="text_events">
                Renginių gausa ir įvairovė primena neslopstančią Galvės ežero mūšą. Šventės vyksmas apima visą miestą, o didžiausias šurmulys užplūsta Vytauto ir Karaimų gatves, apžvalgos aikštę priešais Salos pilį
              </div>
            </div>
          </div>
        </div>
        <h1 class="facts">~Susipažinkime~</h1>
        <h1 class="facts">________________</h1>
        <div class="small_block">
          <iframe src="https://www.youtube.com/embed/j0_JRSrHw8s"> </iframe>
        </div>
        <br />
        <div>
          <h1 class="facts">~Kontaktai~</h1>
          <h1 class="facts">________________</h1>
          <div class="text">
            <div class="text_facts_name"><h1>Seniūno vardas, pavardė</h1></div>
            <div class="text_contacts"><h1>Vilma Puišienė</h1></div>
            <div class="text_facts_name"><h1>Seniūnijos adresas</h1></div>
            <div class="text_contacts">
              <h1>Vytauto g. 33, Trakai</h1>
            </div>
            <div class="text_facts_name"><h1>Kontaktinis telefonas</h1></div>
            <div class="text_contacts"><h1>8 52 855 730</h1></div>
            <div class="text_facts_name">
              <h1>Kontaktinis elektroninis paštas</h1>
            </div>
            <div class="text_contacts"><h1>trakai@trakai.lt</h1></div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import "css/components/seniunija.scss";
import Layout from "layouts/Layout";
import { VueHorizontalTimeline } from "vue-horizontal-timeline";

export default {
  name: "Home",
  components: {
    Layout,
    VueHorizontalTimeline,
  },
  data() {
    const example1 = {
      title: "2000 m. pr. Kr.",
      content:
        "Seniausia vietos istorijos liudininkė - Radikių vėlyvojo akmens amžiaus stovyklavietė",
    };
    const example2 = {
      title: "1567 m.",
      content:
        "Istorijos šaltinyje „Lietuvos kariuomenės sąrašai“ minimos Eygirdowo, Worlowo ir Romaszko bajorų giminės",
    };
    const example3 = {
      title: "XIX a.",
      content:
        "Rašytiniai šaltiniai liudija, kad Domeikava yra „dvaras Kauno paviete, dešiniajame Neries krante“",
    };
    const example4 = {
      title: "1961 m.",
      content: "Įsikūrė Valstybinė mašinų stotis",
    };
    const example5 = {
      title: "1980 m.",
      content: "Vytautas Andziulis įkūrė pogrindinę spaustuvę „ab“",
    };
    const example6 = {
      title: "1980/90 m.",
      content:
        "Spaustuvėje buvo spausdinama įvairi religinė ir politinė literatūra",
    };
    const example7 = {
      title: "1993 m.",
      content: "Pradėta statyti Lietuvos kankinių bažnyčia",
    };
    const example8 = {
      title: "1995 m.",
      content:
        "Pirmuoju Domeikavos klebonu JE kardinolas Vincentas Sladkevičius paskyrė kunigą Robertą Gedvydą Skrinską",
    };
    const example9 = {
      title: "2002 m.",
      content: "Įregistruota apie 60 šeimų",
    };
    const items = [
      example1,
      example2,
      example3,
      example4,
      example5,
      example6,
      example7,
      example8,
      example9,
    ];

    return { items };
  },
};
</script>
