<template>
    <layout
        pageTitle="Administracija - Renginiai">
        <div class="admin-container">
            <h1>Renginiai</h1>
            <p style="text-align: center; font-size: 1.25em" v-if="events.length <= 0">Renginių kuriuos reikia patvirtinti nerasta</p>
            <table class="admin-table" v-if="events.length != 0">
                <thead>
                <tr>
                    <td>Pavadinimas</td>
                    <td colspan="2">Veiksmai</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="event in events" :key="event.id">
                    <td>{{event.title}}</td>
                    <td class="edit-col">
                        <form>
                        <button wire:click.prevent="store()" type="button"  @click="approve(event)" >Priimti</button>
                    </form></td>
                    <td class="delete-col"><form>
                        <button wire:click.prevent="store()" type="button" @click="decline(event)" >Atmesti</button>
                    </form></td>
                </tr>
                </tbody>
            </table>
        </div>


    </layout>
</template>

<script>
import Layout from "layouts/Layout";
import "css/components/admin.scss";
import {Link} from "@inertiajs/inertia-vue3";

export default {

    name: "AdminEvents",
    components: {
        Layout,
        Link
    },
    props:[
        'events',
        'errors'
    ],
    setup(){

    },
    data(){
      return{
          form: {
              approval_status: null
          }
      }
    },
    methods:{
        approve: function(data){
            if (!confirm('Ar tikrai norite patvirtinti?')) return;
            data.approval_status = "Accepted";
            data._method = 'PUT';
            console.log(data);
            this.$inertia.post('/admin-events/ '+ data.id, data);
        },
        decline: function(data){
            if (!confirm('Ar tikrai norite pašalinti?')) return;
            data.approval_status = "Declined";
            data._method = 'PUT';
            console.log(data);
            this.$inertia.post('/admin-events/'+ data.id, data);

        }
    }
};
</script>


