<template>
    <Layout pageTitle="Administracija">
        <h1 class="admin__title">Administracijos valdiklis</h1>
        <ul class="admin__links">
            <li>
                <Link
                    :href="route('problems')"
                     class="styled-button"
                >
                    Problemos
                </Link>
            </li>
            <li>
                <Link
                    :href="route('admin-news')"
                     class="styled-button"
                >
                    Naujienos
                </Link>
            </li>
            <li>
                <Link
                    :href="route('admin-events')"
                     class="styled-button"
                >
                    Renginiai
                </Link>
            </li>
            <li>
                <Link
                    :href="route('roles.index')"
                    class="styled-button"
                >
                    Rolės
                </Link>
                <Link
                    :href="route('view-users-roles')"
                    class="styled-button"
                >
                    Naudotojai
                </Link>
            </li>
        </ul>
    </Layout>
</template>

<script>
import Layout from "layouts/Layout";
import { Link } from '@inertiajs/inertia-vue3';
import "css/components/admin.scss";

export default {
    name: "Admin",
    components: {
        Layout,
        Link
    }
};
</script>
