<template>
    <Layout pageTitle="Administracija - Problemos">
        <h1 class="problems__page-title">Naudotojų praneštos problemos</h1>
        <h2 class="problems__count">Iš viso problemų: {{ $page.props.problems.length }}</h2>
        <div class="problems">
            <div
                v-for="problem in $page.props.problems"
                :key="problem.id"
                class="problems__item"
            >
                <h2 class="problems__item-title"><b>Pavadinimas:</b></h2>
                <p class="problems__item-text">{{ problem.title }}</p>
                <h2 class="problems__item-title"><b>Pranešimo data:</b></h2>
                <p class="problems__item-text">{{ problem.report_date }}</p>
                <h2 class="problems__item-title"><b>Aprašymas:</b></h2>
                <p class="problems__item-text">{{ problem.description }}</p>
                <div v-if="problem.problem_type !== ''">
                <h2 class="problems__item-title"><b>Problemos tipas:</b></h2>
                <p class="problems__item-text">{{ problem.problem_type }}</p>
                </div>
                <h2 class="problems__item-title"><b>Problemos statusas:</b></h2>
                <p class="problems__item-text">{{ problem.status }}</p>
                <div v-if="problem.picture !== null">
                <h2 class="problems__item-title"><b>Problemos nuotrauka:</b></h2>
                <img v-bind:src="'/uploads/'+problem.picture"/>
                </div>

               <!-- <button @click="edit(problem)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Redaguoti</button>  -->
                <button @click="edit(problem)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Keisti problemos būseną</button>

                <button @click="deleteRow(problem)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Šalinti</button>

            </div>
        </div>
          <div class="fixed z-10 inset-0 overflow-y-auto ease-out duration-400" v-if="isOpen">
                      <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

                        <div class="fixed inset-0 transition-opacity">
                          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                        </div>
                        <!-- This element is to trick the browser into centering the modal contents. -->
                        <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>​
                        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                          <form>
                          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                            <div class="">
                                   <div class="mb-4">
                                <label for="FormCategories" class="block text-gray-700 text-sm font-bold mb-2">Problemos statusas:</label>
                                <div class='custom-select'>
                                <select id=FormCategories v-model="form.status">
                                  <option value="laukiama">laukiama</option>
                                  <option value="patvirtinta">patvirtinta</option>
                                  <option value="nepatvirtinta">nepatvirtinta</option>
                                  <option value="išspręsta">išspręsta</option>
                                </select>

                                </div>
                                <div v-if="errors.status" class="text-red-500">{{ errors.status}}</div>
                                </div>


                            </div>
                          </div>
                          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                           <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                              <button wire:click.prevent="update()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="!editMode" @click="save(form)">
                                Išsaugoti
                              </button>
                            </span>

                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                              <button wire:click.prevent="update()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="editMode" @click="update(form)">
                                Atnaujinti
                              </button>
                            </span>
                            <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">

                              <button @click="closeModal()" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                                Atšaukti
                              </button>
                            </span>
                          </div>
                          </form>

                        </div>
                      </div>
                    </div>
    </Layout>
</template>

<script>
import Layout from "layouts/Layout";
import "css/components/problems.scss";

export default {
    name: "Problems",
    components: {
        Layout
    },
    props: ['data', 'errors'],
    setup(){


      const status = ["laukiama","patvirtinta","nepatvirtinta","išspręsta"];
      return {
        status,
      };

    },
    data() {
            return {
                editMode: false,
                isOpen: false,
                form: {
                   status: null,
                },

            }
   },
    methods:{
        openModal: function(){
            this.isOpen = true;
            this.editMode =true;
            console.log("open");
        },
        closeModal: function(){
            this.isOpen = false;
            this.reset();
            this.editMode = false;
            console.log("close");
        },
        reset: function(){
            this.form = {
                status: null,
            }
        },
        save: function(data){
            this.$inertia.post('/submit-problem/', data);
            this.isOpen = false;
          //  this.reset();
            this.editMode = false;
        },
        edit: function (data) {
                this.form = Object.assign({}, data);
                this.editMode = true;
                this.openModal();
            },

        update: function (data) {
          data._method = 'POST';
          if (!confirm('Ar tikrai norite pakeisti?')) return;
        //  console.log("Keiciamas");
        //   data._method = 'PUT';
         //  this.isOpen = false;
            this.$inertia.post('/update-problem/' + data.id, data)
            this.reset();
            //console.log("po post");
          //  this.reset();
            this.closeModal();
         //   console.log("modal close");
           // this.reset();
           // this.closeModal();
        },

        deleteRow: function (data) {
            if (!confirm('Ar tikrai norite pašalinti?')) return;
            data._method = 'DELETE';
            this.$inertia.post('/delete-problem/' + data.id, data)
          //  this.reset();
            this.closeModal();
        }
    },
};
</script>
