<template>
    <div class="area">
        <div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 z-50 overflow-hidden">
            <Link :href="route('/')">
                <img
                    src="images/app-logo.svg"
                    class="w-32 h-32 fill-current text-gray-500 auth-logo"
                    alt="Projekto logotipas"
                />
                <h1 class="auth-page-title">Pažink Seniūnijas</h1>
            </Link>

            <Link :href="route(goBackLink)" class="text-gray-700 auth-go-back-link">
                &lt; {{ goBackText }}
            </Link>

            <div class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
                <slot />
            </div>
        </div>
    </div>
    <div class="bubbles overflow-hidden">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3';
import "css/global/global.scss";
import "css/components/register.scss";

export default {
    name: "Authenticationlayout",
    components: {
        Link
    },
    props: [
        "goBackText",
        "goBackLink"
    ]
};
</script>
