<template>
    <div class="app" :class="appClass">
        <Head :title="pageTitle" />
        <Navigation @mobileToggle="toggleContentVisibility" />
        <main
            class="main-content"
            :class="[mainClass, { 'main-content--hidden': hideContent }]"
        >
            <slot></slot>
        </main>
    </div>
</template>

<script>
import { ref } from "vue";
import { Head } from '@inertiajs/inertia-vue3';
import Navigation from "components/Navigation";
import "css/global/global.scss";
import "css/components/layout.scss";

export default {
    name: "Layout",
    components: {
        Navigation,
        Head
    },
    props: [
        "appClass",
        "mainClass",
        "pageTitle"
    ],
    setup() {
        const hideContent = ref(false);

        const toggleContentVisibility = (val) => {
            hideContent.value = val;
        };

        return {
            hideContent,
            toggleContentVisibility
        };
    }
}
</script>
