<script setup>
import BreezeButton from '@/Components/Button.vue';
import AuthenticationLayout from '@/Layouts/AuthenticationLayout.vue';
import BreezeInput from '@/Components/Input.vue';
import BreezeLabel from '@/Components/Label.vue';
import BreezeValidationErrors from '@/Components/ValidationErrors.vue';
import { Head, useForm } from '@inertiajs/inertia-vue3';

defineProps({
    status: String,
});

const form = useForm({
    email: '',
});

const submit = () => {
    form.post(route('password.email'));
};
</script>

<template>
    <AuthenticationLayout goBackText="Grįžti į prisijungimo puslapį" goBackLink="login">
        <Head title="Priminti slaptažodį" />

        <div class="mb-4 text-sm text-gray-600">
            Pamiršote slaptažodį? Norėdami jį atstatyti įveskite el. pašto adresą ir jei naudotojas su tokiu el. pašto adresu egzistuos, atsiųsime slaptažodžio atstatymo nuorodą.
        </div>

        <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
            {{ status }}
        </div>

        <BreezeValidationErrors class="mb-4" />

        <form @submit.prevent="submit">
            <div>
                <BreezeLabel for="email" value="El. paštas" />
                <BreezeInput id="email" type="email" class="mt-1 block w-full" v-model="form.email" required autofocus autocomplete="username" />
            </div>

            <div class="flex items-center justify-end mt-4">
                <BreezeButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Siųsti laišką
                </BreezeButton>
            </div>
        </form>
    </AuthenticationLayout>
</template>
