<script setup>
import BreezeButton from '@/Components/Button.vue';
import BreezeCheckbox from '@/Components/Checkbox.vue';
import AuthenticationLayout from '@/Layouts/AuthenticationLayout.vue';
import BreezeInput from '@/Components/Input.vue';
import BreezeLabel from '@/Components/Label.vue';
import BreezeValidationErrors from '@/Components/ValidationErrors.vue';
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';

defineProps({
    canResetPassword: Boolean,
    status: String,
});

const form = useForm({
    email: '',
    password: '',
    remember: false
});

const submit = () => {
    form.post(route('login'), {
        onFinish: () => form.reset('password'),
    });
};
</script>

<template>
    <AuthenticationLayout goBackText="Grįžti į pagrindinį puslapį" goBackLink="/">
        <Head title="Prisijungimas" />

        <BreezeValidationErrors class="mb-4" />


        <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
            {{ status }}
        </div>

        <form @submit.prevent="submit">
            <div class="block font-medium text-lg text-gray-700 font-bold">
                Prisijungimas
            </div>
            <br>
            <div>
                <BreezeLabel for="email" value="El. paštas" />
                <BreezeInput id="email" type="email" class="mt-1 block w-full" v-model="form.email" required autofocus autocomplete="username" />
            </div>

            <div class="mt-4">
                <BreezeLabel for="password" value="Slaptažodis" />
                <BreezeInput id="password" type="password" class="mt-1 block w-full" v-model="form.password" required autocomplete="current-password" />
            </div>

            <div class="block mt-4">
                <label class="flex items-center">
                    <BreezeCheckbox name="remember" v-model:checked="form.remember" />
                    <span class="ml-2 text-sm text-gray-600">Įsiminti</span>
                </label>
            </div>

            <div class="mt-4 auth-alt-actions">
                <Link :href="route('register')" class="underline text-sm text-gray-600 hover:text-gray-900">
                    Dar neturite paskyros?
                </Link>

                <Link v-if="canResetPassword" :href="route('password.request')" class="underline text-sm text-gray-600 hover:text-gray-900">
                    Pamiršote slaptažodį?
                </Link>

                <BreezeButton class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Prisijungti
                </BreezeButton>
            </div>
        </form>
    </AuthenticationLayout>
</template>
