<script setup>
import BreezeButton from '@/Components/Button.vue';
import AuthenticationLayout from '@/Layouts/AuthenticationLayout.vue';
import BreezeInput from '@/Components/Input.vue';
import BreezeLabel from '@/Components/Label.vue';
import BreezeValidationErrors from '@/Components/ValidationErrors.vue';
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';

const form = useForm({
    name: '',
    email: '',
    password: '',
    password_confirmation: '',
    terms: false,
});

const submit = () => {
    form.post(route('register'), {
        onFinish: () => form.reset('password', 'password_confirmation'),
    });
};
</script>

<template>
    <AuthenticationLayout goBackText="Grįžti į pagrindinį puslapį" goBackLink="/">
        <Head title="Registracija" />

        <BreezeValidationErrors class="mb-4" />

        <form @submit.prevent="submit">
            <div class="block font-medium text-lg text-gray-700 font-bold">
                Registracija
            </div>
            <br>
            <div>
                <BreezeLabel for="name" value="Vardas" />
                <BreezeInput id="name" type="text" class="mt-1 block w-full" v-model="form.name" required autofocus autocomplete="name" />
            </div>

            <div class="mt-4">
                <BreezeLabel for="email" value="El. paštas" />
                <BreezeInput id="email" type="email" class="mt-1 block w-full" v-model="form.email" required autocomplete="username" />
            </div>

            <div class="mt-4">
                <BreezeLabel for="password" value="Slaptažodis" />
                <BreezeInput id="password" type="password" class="mt-1 block w-full" v-model="form.password" required autocomplete="new-password" />
            </div>

            <div class="mt-4">
                <BreezeLabel for="password_confirmation" value="Pakartoti slaptažodį" />
                <BreezeInput id="password_confirmation" type="password" class="mt-1 block w-full" v-model="form.password_confirmation" required autocomplete="new-password" />
            </div>

            <div class="mt-4 auth-alt-actions">
                <Link :href="route('login')" class="underline text-sm text-gray-600 hover:text-gray-900">
                    Jau užsiregistravę?
                </Link>

                <BreezeButton class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Registruotis
                </BreezeButton>
            </div>
        </form>
    </AuthenticationLayout>
</template>
