<script setup>
import { computed } from 'vue';
import BreezeButton from '@/Components/Button.vue';
import AuthenticationLayout from '@/Layouts/AuthenticationLayout.vue';
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';

const props = defineProps({
    status: String,
});

const form = useForm();

const submit = () => {
    form.post(route('verification.send'));
};

const verificationLinkSent = computed(() => props.status === 'verification-link-sent');
</script>

<template>
    <AuthenticationLayout goBackText="Grįžti į prisijungimo puslapį" goBackLink="login">
        <Head title="El. pašto patvirtinimas" />

        <div class="mb-4 text-sm text-gray-600">
            Ačiū, kad užsiregistravote! Netrukus į nurodytą el. pašto adresą bus nusiųsta registracijos patvirtinimo nuoroda. Jei nematote el. laiško, naują nuorodą galite gauti paspaudę mygtuką "Persiųsti patvirtinimo laišką".
        </div>

        <div class="mb-4 font-medium text-sm text-green-600" v-if="verificationLinkSent" >
            El. pašto adresu, kurį nurodėte registracijos metu, buvo išsiųsta nauja patvirtinimo nuoroda.
        </div>

        <form @submit.prevent="submit">
            <div class="mt-4 flex items-center justify-between">
                <BreezeButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Persiųsti patvirtinimo laišką
                </BreezeButton>

                <Link :href="route('logout')" method="post" as="button" class="underline text-sm text-gray-600 hover:text-gray-900">Atsijungti</Link>
            </div>
        </form>
    </AuthenticationLayout>
</template>
